@import '../../../app.component';

$accent: map-get($theme, accent);

button {
  padding: 0;
  white-space: normal;
  line-height: normal;
  width:100%;
}

button md-card {
  min-height: 250px;
}

button /deep/ md-card-subtitle {
  font-weight: bold;
}

button:active /deep/ .mat-button-focus-overlay,
button:focus /deep/ .mat-button-focus-overlay,
button:hover /deep/ .mat-button-focus-overlay {
  background: transparent;
}

button:hover md-card {
  background-color: mat-color($accent, 200);
}

button.selected md-card {
  background-color: mat-color($accent, 400);
}

button.selected md-card,
button.selected /deep/ md-card-subtitle {
  color: white;
}
