<div id="contact" class="modal">
    <form action="/contact" method="post">
        <a href="/">X</a>
        <label>
            <span>We love hearing from you, send us a note below.<br />
                <br />
                Name</span>
            <input name="name" type="text" value=""/>
        </label>
        <label>
            <span>Email</span>
            <input name="email" type="text" value=""/>
        </label>
        <label>
            <span>Message</span>
            <textarea name="message"></textarea>
        </label>
        <label class="error">Oops! Looks like some information is missing from the form. Please make sure all areas are completed. Thank you!</label>
        <label class="done">Thank you for contacting us. We’ll get back to you as soon as possible.<br />
            <br />
            If you do not see the email in your inbox, please check your junk or spam folder and add “info@thesosmethod.com” to your Contacts.<br />
            <br />
            In the mean time, check out our:<br />
            <a href="#faq" class="button">Frequently Asked Questions</a>
        </label>
        <button type="submit">Send</button>
    </form>
</div>