:host {
    position:absolute;
    top:50%;
    width:100%;
    text-align: center;
    left:0;
    margin-top: -32.5px;
    bottom:0;
}


a[routerLink*="/bonus/"] {
    position: absolute;
    bottom: 20px;
    text-align: center;
    transition: ease-in-out .8s;
    z-index: 10;
    left: 50%;
    margin-left: -30px;
}

a {
    margin:0 10px;
}

a:first-of-type {
    margin-left:0;
}

.single + * a:first-of-type,
a:last-of-type {
    margin-right:0;
}
