<a md-button class="back" (click)="goBackToCourse()"> </a>
<bc-meditations-subtext></bc-meditations-subtext>
<div id="meditations" #discovery>
    <div *ngIf="(series$ | async) == 'calm_strength' && router.url.indexOf('classic_calm') > -1"
         class="meditations_classic_calm_calm_strength">
        <h1>Calm &amp; Deep Peace</h1>
        <h2>stress relief &amp; inspiration</h2>
    </div>
    <div *ngIf="(series$ | async) == 'ease_comfort' && router.url.indexOf('classic_calm') > -1"
         class="meditations_classic_calm_ease_comfort">
        <h1>Calm &amp; Deep Peace</h1>
        <h2>stress relief &amp; inspiration</h2>
    </div>
    <div *ngIf="(series$ | async) == 'breathe' && router.url.indexOf('classic_calm') > -1"
         class="meditations_classic_calm_breathe">
        <h1>Calm &amp; Deep Peace</h1>
        <h2>stress relief &amp; inspiration</h2>
    </div>
    <div *ngIf="(series$ | async) == 'into_silence' && router.url.indexOf('classic_calm') > -1"
         class="meditations_classic_calm_into_silence">
        <h1>Calm &amp; Deep Peace</h1>
        <h2>stress relief &amp; inspiration</h2>
    </div>
    <div *ngIf="(series$ | async) == 'sweet_spot' && router.url.indexOf('classic_calm') > -1"
         class="meditations_classic_calm_sweet_spot">
        <h1>Calm &amp; Deep Peace</h1>
        <h2>stress relief &amp; inspiration</h2>
    </div>
    <div *ngIf="(series$ | async) == 'easy_breath' && router.url.indexOf('classic_calm') > -1"
         class="meditations_classic_calm_easy_breath">
        <h1>Calm &amp; Deep Peace</h1>
        <h2>stress relief &amp; inspiration</h2>
    </div>

    <div *ngIf="(series$ | async) == 'light_on' && router.url.indexOf('relax') > -1"
         class="meditations_relax_light_on">
        <h1>Relax</h1>
        <h2>binaural beats for therapy</h2>
    </div>
    <div *ngIf="(series$ | async) == 'body_stars' && router.url.indexOf('relax') > -1"
         class="meditations_relax_body_stars">
        <h1>Relax</h1>
        <h2>binaural beats for therapy</h2>
    </div>
    <div *ngIf="(series$ | async) == 'connect' && router.url.indexOf('relax') > -1"
         class="meditations_relax_connect">
        <h1>Relax</h1>
        <h2>binaural beats for therapy</h2>
    </div>
    <div *ngIf="(series$ | async) == 'play_all_relax' && router.url.indexOf('relax') > -1"
         class="meditations_relax_play_all_relax">
        <h1>Relax Series</h1>
        <h2>binaural beats for therapy</h2>
    </div>
    <div *ngIf="(series$ | async) == 'serenity' && router.url.indexOf('relax') > -1"
         class="meditations_relax_serenity">
        <h1>Deep Sleep</h1>
        <h2>binaural beats for sleep</h2>
    </div>
    <div *ngIf="(series$ | async) == 'tranquility' && router.url.indexOf('relax') > -1"
         class="meditations_relax_tranquility">
        <h1>Deep Sleep</h1>
        <h2>binaural beats for sleep</h2>
    </div>
    <div *ngIf="(series$ | async) == 'soothe' && router.url.indexOf('relax') > -1"
         class="meditations_relax_soothe">
        <h1>Deep Sleep</h1>
        <h2>binaural beats for sleep</h2>
    </div>
    <div *ngIf="(series$ | async) == 'play_all_sleep' && router.url.indexOf('relax') > -1"
         class="meditations_relax_play_all_sleep">
        <h1>Deep Sleep Series</h1>
        <h2>binaural beats for sleep</h2>
    </div>

    <div *ngIf="(series$ | async) == 'believe' && router.url.indexOf('elevate') > -1"
         class="meditations_elevate_believe">
        <h1>Elevate &amp; Energize</h1>
        <h2>feel uplifted and happy on a break or commute</h2>
    </div>
    <div *ngIf="(series$ | async) == 'say_yes' && router.url.indexOf('elevate') > -1"
         class="meditations_elevate_say_yes">
        <h1>Elevate &amp; Energize</h1>
        <h2>feel uplifted and happy on a break or commute</h2>
    </div>
    <div *ngIf="(series$ | async) == 'music_heart' && router.url.indexOf('elevate') > -1"
         class="meditations_elevate_music_heart">
        <h1>Elevate &amp; Energize</h1>
        <h2>feel uplifted and happy on a break or commute</h2>
    </div>
    <div *ngIf="(series$ | async) == 'paint_life' && router.url.indexOf('elevate') > -1"
         class="meditations_elevate_paint_life">
        <h1>Elevate &amp; Energize</h1>
        <h2>feel uplifted and happy on a break or commute</h2>
    </div>
    <div *ngIf="(series$ | async) == 'happy_reason' && router.url.indexOf('elevate') > -1"
         class="meditations_elevate_happy_reason">
        <h1>Elevate &amp; Energize</h1>
        <h2>feel uplifted and happy on a break or commute</h2>
    </div>
    <div *ngIf="(series$ | async) == 'this_moment' && router.url.indexOf('elevate') > -1"
         class="meditations_elevate_this_moment">
        <h1>Elevate &amp; Energize</h1>
        <h2>feel uplifted and happy on a break or commute</h2>
    </div>

    <div *ngIf="(series$ | async) == 'grateful' && router.url.indexOf('affirming_word') > -1"
         class="meditations_affirming_word_grateful">
        <h1>Affirming Word</h1>
        <h2>setting the tone for loving kindness</h2>
    </div>
    <div *ngIf="(series$ | async) == 'moon_rising' && router.url.indexOf('affirming_word') > -1"
         class="meditations_affirming_word_moon_rising">
        <h1>Affirming Word</h1>
        <h2>setting the tone for loving kindness</h2>
    </div>
    <div *ngIf="(series$ | async) == 'divine_love' && router.url.indexOf('affirming_word') > -1"
         class="meditations_affirming_word_divine_love">
        <h1>Affirming Word</h1>
        <h2>setting the tone for loving kindness</h2>
    </div>
    <div *ngIf="(series$ | async) == 'bless_day' && router.url.indexOf('affirming_word') > -1"
         class="meditations_affirming_word_bless_day">
        <h1>Affirming Word</h1>
        <h2>setting the tone for loving kindness</h2>
    </div>
    <div *ngIf="(series$ | async) == 'francis' && router.url.indexOf('affirming_word') > -1"
         class="meditations_affirming_word_francis">
        <h1>Affirming Word</h1>
        <h2>setting the tone for loving kindness</h2>
    </div>

    <div *ngIf="(series$ | async) == 'love_you' && router.url.indexOf('love_forgiveness') > -1"
         class="meditations_love_forgiveness_love_you">
        <h1>Love &amp; Forgiveness</h1>
        <h2>focused meditations for loving relationships</h2>
    </div>
    <div *ngIf="(series$ | async) == 'forgiveness' && router.url.indexOf('love_forgiveness') > -1"
         class="meditations_love_forgiveness_forgiveness">
        <h1>Love &amp; Forgiveness</h1>
        <h2>focused meditations for loving relationships</h2>
    </div>
    <div *ngIf="(series$ | async) == 'thank_you' && router.url.indexOf('love_forgiveness') > -1"
         class="meditations_love_forgiveness_thank_you">
        <h1>Love &amp; Forgiveness</h1>
        <h2>focused meditations for loving relationships</h2>
    </div>

    <div *ngIf="(series$ | async) == 'breath' && router.url.indexOf('emergency') > -1"
         class="meditations_emergency_breath">
        <h1>Emergency SOS</h1>
        <h2>immediate aid for anxiety and trauma</h2>
    </div>
</div>