<div class="container" *ngIf="(catalog.selectedProduct$ | async) == 'ActPremiumCloud'">
  <div class="preview">
    <img src="/assets/actpremiumcloud.png" />
    Affordable and easy to use, Act! Premium is purpose-built to help individuals, sales teams, and small businesses get organized, maximize productivity, and achieve sales and marketing greatness.<br /><br />
    Get access to Act! Premium in a secure cloud environment – we'll handle the technical steps, so you can jump right into rich contact, calendar, and opportunity details from your computer, tablet or smartphone.
  </div>
  <div class="long-description">
    <md-card-title>Act! Premium Cloud</md-card-title>
    <md-card-subtitle>Hosted by us - no IT required!</md-card-subtitle>
    <p>Robust Customer Management, Sales Automation, and Email Marketing - hosted in a secure cloud environment.</p>
    <div class="price-columns">
      <div class="price-dropdown">
        <h1>$35</h1>
        <h2>USD/user/month</h2>
        <small>billed annually</small><br />
        <a md-raised-button color="primary" routerLink="/home/subscriptions-add/{{catalog.selectedProduct$ | async}}">Subscribe</a><br />
        <a md-button>Free Trial</a>
      </div>
      <div class="includes">
        <ul>
          <li>Instant online access, plus Mobile and Windows® offline clients</li>
          <li>Secure cloud hosting service</li>
          <li>Automatic upgrades, features & compatibility updates</li>
          <li>Email marketing (500 contacts)</li>
          <li>Expert technical support</li>
          <li>Video training</li>
          <li>Product overview</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="(catalog.selectedProduct$ | async) == 'ActPremium'">
  <div class="preview">
    <img src="/assets/actpremium.jpg" />
    Affordable and easy to use, Act! Premium is purpose-built to help individuals, sales teams, and small businesses get organized, maximize productivity, and achieve sales and marketing greatness.
  </div>
  <div class="long-description">
    <md-card-title>Act! Premium</md-card-title>
    <md-card-subtitle>Managed by you —for maximum control!</md-card-subtitle>
    <p>Robust Customer Management, Sales Automation, and Email Marketing.</p>
    <div class="price-columns">
      <div class="price-dropdown">
        <h1>$25</h1>
        <h2>USD/user/month</h2>
        <div>
        <md-select [(ngModel)]="billed">
          <md-option value="monthly">billed monthly</md-option>
          <md-option value="annually">billed annually</md-option>
          <md-option value="license">license + 1 year subscription</md-option>
        </md-select>
        </div>
        <a md-raised-button color="primary" routerLink="/home/subscriptions-add/{{catalog.selectedProduct$ | async}}">Subscribe</a><br />
        <a md-button>Free Trial</a>
      </div>
      <div class="includes">
        <ul>
          <li>Web, Windows® offline, & Mobile Access</li>
          <li>Email marketing (500 contacts)</li>
          <li>Expert technical support</li>
          <li>Video training</li>
          <li>New features & compatibility updates</li>
          <li>Product overview</li>
          <li>System requirements</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="(catalog.selectedProduct$ | async) == 'ActPro'">
  <div class="preview">
    <img src="/assets/act-pro.png" />
    Affordable and easy to use, Act! Premium is purpose-built to help individuals, sales teams, and small businesses get organized, maximize productivity, and achieve sales and marketing greatness.
  </div>
  <div class="long-description">
    <md-card-title>Act! Pro</md-card-title>
    <md-card-subtitle>Powerful capabilities – with the classic feel your used to.</md-card-subtitle>
    <p>Robust Customer Management, Sales Automation, and Email Marketing.</p>
    <div class="price-columns">
      <div class="price-dropdown">
        <h1>$239<sup>.99</sup></h1>
        <h2>USD/user</h2>
        <a md-raised-button color="primary" routerLink="/home/subscriptions-add/{{catalog.selectedProduct$ | async}}">Buy Now</a><br />
        <small>Questions? Call us 866-873-2006</small>
      </div>
      <div class="includes">
        <ul>
          <li>Windows® offline clients</li>
          <li>Email marketing (500 contacts)</li>
          <li>Video training</li>
          <li>$40/user for 30-day technical support (optional)</li>
          <li>$99/user/yr for annual technical support (optional)</li>
          <li>System requirements</li>
        </ul>
      </div>
    </div>
  </div>
</div>

