#gift {
    background: url(/assets/shutterstock_496761808_small.jpg) no-repeat 50% top;
    padding: 50px;
    background-size: cover;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .7);
}

#gift > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#gift > div > div {
    flex-basis: 100%;
    flex-grow: 1;
    width: 100%;
    max-width: 500px;
}

#gift > div > div:first-of-type {
    padding: 0 10% 0 0;
}

#gift > div > div:last-of-type {
    padding-bottom: 25%;
    position: relative;
}

#gift iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#lasting-results {
    background: white;
    padding: 50px;
    color: #333;
    text-align: center;
}

#lasting-results h2 {
    color: #333;
}

#lasting-results h1 {
    color: #4997cb;
}

#lasting-results ol {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#lasting-results li {
    flex-basis: 100%;
    max-width: 150px;
    margin: 0 5px;
    padding: 0;
    height: 200px;
    position: relative;
}

#lasting-results li span {
    position: absolute;
    bottom: 0;
    height: 55px;
    background: #4997cb;
    color: white;
    left: 0;
    padding: 5px;
    opacity: .7;
}

#innovative {
    padding: 60px;
    background: linear-gradient(#4997cb, #0bffe6);
    text-align: center;
}

#innovative > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#innovative img {
    flex-basis: 100%;
    max-width: 300px;
    padding: 5%;
    flex-grow: 1;
}

#innovative > div > div {
    flex-basis: 100%;
    flex-grow: 1;
    max-width: 600px;
    text-align: left;
}

#innovative p:last-of-type {
    text-align: center;
}

#mission {
    background: white;
    padding: 40px;
}

#mission h1 {
    text-align: center;
    color: #4997cb;
}

#mission p {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#mission p:first-of-type {
    margin-right: 20px;
}

#mission p:last-of-type {
    margin-left: 20px;
}

#mission div {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    flex-basis: 100%;
    flex-grow: 1;
    max-height: 200px;
    width: auto;
    margin: 0 10px;
    padding: 0;
}