
:host {
  position:absolute;
  width:100%;
  top:0;
  left:0;
  right:0;
}

.mat-toolbar {
  background:transparent;
  font-weight: normal;
  font-size:inherit;
}

.image-wrapper {
  height:48px;
  width:48px;
  position:relative;
  z-index: 1000;
  overflow:hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(73, 151, 203, 1);
  border-radius: 100%;
}

.profile /deep/ .mat-button-wrapper {
  display:flex;
  flex-direction: row;
}

a, img {
  position: relative;
  z-index: 1000;
  white-space: nowrap;
}

span[flex] {
  flex: 1 1 auto;
}

#logo img {
  max-height: 60px;
}

.image-wrapper img {
  min-height: 100%;
  min-width: 100%;
  height:48px;
  width:auto;
  vertical-align: middle;
  max-width:none;
}

.account {
  flex: 1 1 auto;
  text-align: right;
}


