<md-toolbar *ngIf="(route$ | async) != '_5_day' && (route$ | async) != '_11_day' && (route$ | async) != 'meditations'">
    <div id="logo" mdTooltip="Go Home">
        <a routerLink="/">
            <img src="/assets/SOS-Logo-Tag-2017-all-wht.png" *ngIf="(route$ | async) != 'home' && (route$ | async) != '_5_day' && (route$ | async) != '_11_day' && (route$ | async) != 'meditations'" />
            <img src="/assets/SOS-Method-Logo-2017-White.png"  *ngIf="(route$ | async) == 'home'"/></a>
    </div>
    <div class="account">
        <a md-raised-button (click)="showLoginDialog()"
           *ngIf="(route$ | async) != 'gift' && (route$ | async) != 'signup' && !(af.auth | async)?.auth.email">login</a>
        <a md-raised-button routerLink="/account/profile" mdTooltip="Account / Timeline"
           *ngIf="(route$ | async) != 'gift' && (route$ | async) != 'signup' && (af.auth | async)?.auth.email">{{auth.user?.name?.first}}</a>
        <a md-raised-button (click)="showContactDialog()"
           *ngIf="(route$ | async) == 'gift' || (route$ | async) == 'signup'">contact us</a>
        <img src="/assets/icon_static_user_man.png"
             *ngIf="(route$ | async) != 'gift' && (route$ | async) != 'signup' && (af.auth | async)?.auth.email" />
        <a md-raised-button (click)="logout()"
           *ngIf="(route$ | async) != 'gift' && (route$ | async) != 'signup' && (af.auth | async)?.auth.email">logout</a>
    </div>
</md-toolbar>
<audio #player></audio>