<md-toolbar color="primary">
    <div id="logo">
        <a href="/"><img src="/SOS-Logo-Tag-2017-all-wht.png"/><img src="/SOS%20Method%20Logo%202017%20White.png"/></a>
        <h2>Discover mindful tools for well-being; <br/> rapid stress relief, focus, and peace of mind.</h2>
    </div>
    <div class="account">
        <a href="/login">login</a>
        <a href="/account"></a>
        <a href="#contact">contact us</a>
        <img src="/icon_static_user_man.png"/>
        <a href="/logout">logout</a>
    </div>
    <div id="jquery_jplayer" style="width: 0; height: 0;"></div>
</md-toolbar>