
:host {
  z-index:100;
  position:fixed;
  width:100%;
  top:0;
  left:0;
  right:0;
}

.mat-toolbar {
  background:transparent;
  font-weight: normal;
  font-size:inherit;
}

span[flex] {
  flex: 1 1 auto;
}

img {
  max-height:70px;
  vertical-align: middle;
}

.account {
  flex: 1 1 auto;
  text-align: right;
}


