<md-dialog-content>
    <table>
        <thead>
            <tr>
                <th>Meditation</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comp of (completed | async)">
                <td><a routerLink="{{ comp.url }}"><i><span></span></i><strong>5
                    Day Essentials</strong><br>
                    <small>day 1 - meditation reinvented - 5 min</small>
                </a></td>
                <td>{{comp.time.getDate() + ' ' + getMonth(comp.time.getMonth()) + ' ' + (comp.time.getFullYear() + '').substr(2)}}</td>
            </tr>
        </tbody>
    </table>
</md-dialog-content>


