<md-card-subtitle>Best for</md-card-subtitle>
<p *ngIf="product == 'ActPremiumCloud'">SMBs seeking a comprehensive solution that’s worry-free, with no-IT involvement.</p>
<p *ngIf="product == 'ActPremium'">Mature small-to-medium sized businesses that value flexibility and web services connectivity.</p>
<p *ngIf="product == 'ActPro'">Cost-conscious individuals and small workgroups.</p>
<md-card-subtitle>Deployment:</md-card-subtitle>
<p *ngIf="product == 'ActPremiumCloud'">Secure Cloud Hosting</p>
<p *ngIf="product == 'ActPremium'">Windows®, Web, and Mobile</p>
<p *ngIf="product == 'ActPro'">Windows®</p>
