<md-sidenav [opened]="open">
    <md-nav-list>
        <a md-raised-button routerLink="/signup">Sign Up</a>
        <a md-raised-button routerLink="/gift">Gift SOS</a>
        <a md-raised-button routerLink="/faq">FAQ</a>
        <a md-raised-button href="https://www.thesosmethod.com/blog/">Blog</a>
        <a md-raised-button (click)="showShare()">Share</a>
        <a md-raised-button href="http://www.sosmethod.org/">Foundation</a>
        <a md-raised-button routerLink="/testimonials">Testimonials</a>
        <a md-raised-button routerLink="/contact">Contact Us</a>
    </md-nav-list>
</md-sidenav>
