<md-sidenav [opened]="open">
    <md-nav-list>
        <a md-raised-button
           href="mailto:?subject=Check out the SOS method!&body=Hi, I found this website and thought you might like it http://sosmethod.io/">Email</a>
        <a md-raised-button (click)="showSMS()">SMS</a>
        <a md-raised-button
           href="http://www.facebook.com/sharer/sharer.php?u=https://sosmethod.io%3F&t=Check out The SOS Method!">Facebook</a>
        <a md-raised-button
           href="https://twitter.com/intent/tweet?text=Check out https://sosmethod.io%3F">Twitter</a>
        <button md-raised-button (click)="showCopy($event)">Copy Link <input type="text"/></button>
    </md-nav-list>
</md-sidenav>

