<md-sidenav [opened]="open" align="end">
  <md-nav-list>
    <aside id="select-template">
      <a md-raised-button (click)="setVideoSource('https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v1927594', '/assets/clouds.jpg')"><img src="/assets/clouds.jpg"/></a>
      <a md-raised-button (click)="setVideoSource('https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v1271068', '/assets/dark_sky.jpg')"><img src="/assets/dark_sky.jpg"/></a>
      <a md-raised-button (click)="setVideoSource('https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v18169228', '/assets/purple.jpg')"><img src="/assets/purple.jpg"/></a>
      <a md-raised-button (click)="setVideoSource('https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v2911900', '/assets/autumn.jpg')"><img src="/assets/autumn.jpg"/></a>
      <a md-raised-button (click)="setVideoSource('https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v2721359', '/assets/beach.jpg')"><img src="/assets/beach.jpg"/></a>
      <a md-raised-button (click)="setVideoSource('https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v5240417', '/assets/rain_bird.jpg')"><img src="/assets/rain_bird.jpg"/></a>
      <a md-raised-button (click)="setVideoSource('https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v648469', '/assets/water2.jpg')"><img src="/assets/water2.jpg"/></a>
      <a md-raised-button (click)="setVideoSource('https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v7486369', '/assets/candle.jpg')"><img src="/assets/candle.jpg"/></a>
      <a md-raised-button (click)="setVideoSource('https://s3-us-west-2.amazonaws.com/sosmethod/SOS-StarCave_1300x800_Loop-16_1211', '/assets/cave.jpg')"><img src="/assets/cave.jpg"/></a>
    </aside>
  </md-nav-list>
</md-sidenav>
