md-dialog-content {
  display: flex;
}

md-card-title {
  display: flex;
}

md-card-title span {
  width:50%;
}

md-card {
  width: 50%;
}

md-card-title {
  display: flex;
  justify-content: center;
}

