<a md-button md-dialog-close (click)="dialog.closeAll()" tabindex="-1">
    <md-icon>cancel</md-icon>
</a>
<md-card-title md-dialog-title><span>Login</span><span>Register</span></md-card-title>
<md-dialog-content>
    <md-card>
        <md-card-subtitle>Log in to track your progress.</md-card-subtitle>
        <button md-raised-button color="" (click)="loginGoogle()">Google</button><br />
        <button md-raised-button color="" (click)="loginFacebook()">Facebook</button><br />
        <button md-raised-button color="" (click)="loginTwitter()">Twitter</button><br />
        <button md-raised-button color="" (click)="loginTwitter()">Password</button><br />
        <md-input-container>
            <input mdInput id="signupEmail" required type="email" placeholder="Email" maxlength="100"
                   [(ngModel)]="authUser.username"
                   [ngModelOptions]="{standalone: true}">
        </md-input-container>

        <md-input-container>
            <input mdInput id="signupPassword" required type="password" maxlength="25" placeholder="Password"
                   length="40" [(ngModel)]="authUser.password" [ngModelOptions]="{standalone: true}">
        </md-input-container>
        <label *ngIf="error" class="error">invalid username or password</label>
    </md-card>
    <md-card>
        <md-card-subtitle>New user? Register here</md-card-subtitle>
        <a md-raised-button color="primary" [routerLink]="['/account/register']"> <i></i> Register</a>
    </md-card>
</md-dialog-content>
<md-dialog-actions>
    <button md-raised-button color="primary" id="signupSubmit" type="submit" (click)="login()">
        Login
    </button>
    <a md-raised-button [routerLink]="['/account/forgot']"> <i></i> Forgot Password?</a>
</md-dialog-actions>