<div class="meditate" #discovery>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_1'"
         class="_5_day_essentials _day_1">
        <a md-button class="sos-circle sos-circle-mini sos-circle-purple"
           routerLink="/meditations/classic_calm/sweet_spot"
           mdTooltip="calm &amp; strength"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/essentials_day_1">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_2'"
         class="_5_day_essentials _day_2">
        <a md-button class="sos-circle sos-circle-mini sos-circle-purple"
           routerLink="/meditations/classic_calm/calm_strength"
           mdTooltip="ease &amp; comfort"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/essentials_day_2">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_3'"
         class="_5_day_essentials _day_3">
        <a md-button class="sos-circle sos-circle-mini sos-circle-purple"
           routerLink="/meditations/classic_calm/sweet_spot"
           mdTooltip="calm &amp; strength"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/essentials_day_3">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_4'"
         class="_5_day_essentials _day_4">
        <a md-button class="sos-circle sos-circle-mini sos-circle-purple"
           routerLink="/meditations/classic_calm/calm_strength"
           mdTooltip="ease &amp; comfort"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/tool/stop_drop">tool</a>
    </div>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_5'"
         class="_5_day_essentials _day_5">
        <a md-button class="sos-circle sos-circle-mini sos-circle-gold" routerLink="/meditations/elevate/believe"
           mdTooltip="I believe"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/essentials_day_5">bonus</a>
    </div>


    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_11_day') > -1 && (day | async) == '_day_1'"
         class="_11_day_essentials _day_1">
        <a md-button class="sos-circle sos-circle-mini sos-circle-purple" routerLink="/meditations/classic_calm/breathe"
           mdTooltip="breathe, just breathe"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/essentials11_day_1">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_11_day') > -1 && (day | async) == '_day_2'"
         class="_11_day_essentials _day_2">
        <a md-button class="sos-circle sos-circle-mini sos-circle-purple"
           routerLink="/meditations/classic_calm/ease_comfort"
           mdTooltip="sweet spot"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/essentials11_day_2">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_11_day') > -1 && (day | async) == '_day_3'"
         class="_11_day_essentials _day_3">
        <a md-button class="sos-circle sos-circle-mini sos-circle-purple" routerLink="/meditations/classic_calm/breathe"
           mdTooltip="breathe, just breathe"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/essentials11_day_3">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_11_day') > -1 && (day | async) == '_day_4'"
         class="_11_day_essentials _day_4">
        <a md-button class="sos-circle sos-circle-mini sos-circle-gold" routerLink="/meditations/elevate/say_yes"
           mdTooltip="say yes"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/tool/positivity">tool</a>
    </div>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_11_day') > -1 && (day | async) == '_day_5'"
         class="_11_day_essentials _day_5">
        <a md-button class="sos-circle sos-circle-mini sos-circle-purple"
           routerLink="/meditations/classic_calm/ease_comfort"
           mdTooltip="sweet spot"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/essentials11_day_5">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_11_day') > -1 && (day | async) == '_day_6'"
         class="_11_day_essentials _day_6">
        <a md-button class="sos-circle sos-circle-mini sos-circle-ruby"
           routerLink="/meditations/affirming_word/grateful"
           mdTooltip="grateful"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/essentials11_day_6">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_11_day') > -1 && (day | async) == '_day_7'"
         class="_11_day_essentials _day_7">
        <a md-button class="sos-circle sos-circle-mini sos-circle-purple" routerLink="/meditations/classic_calm/breathe"
           mdTooltip="breathe, just breathe"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/essentials11_day_7">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_11_day') > -1 && (day | async) == '_day_8'"
         class="_11_day_essentials _day_8">
        <a md-button class="sos-circle sos-circle-mini sos-circle-ruby"
           routerLink="/meditations/affirming_word/grateful"
           mdTooltip="grateful"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/tool/possibility_5">tool</a>
    </div>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_11_day') > -1 && (day | async) == '_day_9'"
         class="_11_day_essentials _day_9">
        <a md-button class="sos-circle sos-circle-mini sos-circle-purple"
           routerLink="/meditations/classic_calm/ease_comfort"
           mdTooltip="sweet spot"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/essentials11_day_9">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_11_day') > -1 && (day | async) == '_day_10'"
         class="_11_day_essentials _day_10">
        <a md-button class="sos-circle sos-circle-mini sos-circle-green" routerLink="/meditations/relax/serenity"
           mdTooltip="serenity"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/essentials11_day_10">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'essentials' && router.url.indexOf('_11_day') > -1 && (day | async) == '_day_11'"
         class="_11_day_essentials _day_11">
        <a md-button class="sos-circle sos-circle-mini sos-circle-gold" routerLink="/meditations/elevate/say_yes"
           mdTooltip="say yes"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/essentials11_day_11">bonus</a>
    </div>


    <div *ngIf="(series | async) == 'soothing_relief' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_1'"
         class="_5_day_soothing_relief _day_1">
        <a md-button class="sos-circle sos-circle-mini sos-circle-coral" routerLink="/meditations/emergency/breath"
           mdTooltip="three breath awareness"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/soothing_day_1">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'soothing_relief' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_2'"
         class="_5_day_soothing_relief _day_2">
        <a md-button class="sos-circle sos-circle-mini sos-circle-green" routerLink="/meditations/relax/light_on"
           mdTooltip="turn on the light"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/soothing_day_2">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'soothing_relief' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_3'"
         class="_5_day_soothing_relief _day_3">
        <a md-button class="sos-circle sos-circle-mini sos-circle-purple"
           routerLink="/meditations/classic_calm/into_silence"
           mdTooltip="into the silence"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/tool/rewind">tool</a>
    </div>
    <div *ngIf="(series | async) == 'soothing_relief' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_4'"
         class="_5_day_soothing_relief _day_4">
        <a md-button class="sos-circle sos-circle-mini sos-circle-gold" routerLink="/meditations/elevate/music_heart"
           mdTooltip="music in my heart"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/tool/stop_drop">tool</a>
    </div>
    <div *ngIf="(series | async) == 'soothing_relief' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_5'"
         class="_5_day_soothing_relief _day_5">
        <a md-button class="sos-circle sos-circle-mini sos-circle-ruby"
           routerLink="/meditations/affirming_word/grateful"
           mdTooltip="I am grateful"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/soothing_day_5">bonus</a>
    </div>


    <div *ngIf="(series | async) == 'focus_and_creativity' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_1'"
         class="_5_day_focus_and_creativity _day_1">
        <a md-button class="sos-circle sos-circle-mini sos-circle-purple"
           routerLink="/meditations/classic_calm/into_silence"
           mdTooltip="into the silence"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/creativity_day_1">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'focus_and_creativity' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_2'"
         class="_5_day_focus_and_creativity _day_2">
        <a md-button class="sos-circle sos-circle-mini sos-circle-green" routerLink="/meditations/relax/tranquility"
           mdTooltip="tranquility"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/creativity_day_2">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'focus_and_creativity' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_3'"
         class="_5_day_focus_and_creativity _day_3">
        <a md-button class="sos-circle sos-circle-mini sos-circle-gold" routerLink="/meditations/elevate/paint_life"
           mdTooltip="paint life's canvas"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/tool/envision">tool</a>
    </div>
    <div *ngIf="(series | async) == 'focus_and_creativity' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_4'"
         class="_5_day_focus_and_creativity _day_4">
        <a md-button class="sos-circle sos-circle-mini sos-circle-ruby"
           routerLink="/meditations/affirming_word/divine_love"
           mdTooltip="divine love"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/creativity_day_4">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'focus_and_creativity' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_5'"
         class="_5_day_focus_and_creativity _day_5">
        <a md-button class="sos-circle sos-circle-mini sos-circle-gold" routerLink="/meditations/elevate/believe"
           mdTooltip="I believe"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/creativity_day_5">bonus</a>
    </div>


    <div *ngIf="(series | async) == 'improving_relationships' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_1'"
         class="_5_day_improving_relationships _day_1">
        <a md-button class="sos-circle sos-circle-mini sos-circle-gold" routerLink="/meditations/elevate/this_moment"
           mdTooltip="in this moment"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/improving_day_1">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'improving_relationships' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_2'"
         class="_5_day_improving_relationships _day_2">
        <a md-button class="sos-circle sos-circle-mini sos-circle-green" routerLink="/meditations/relax/tranquility"
           mdTooltip="tranquility"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/improving_day_2">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'improving_relationships' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_3'"
         class="_5_day_improving_relationships _day_3">
        <a md-button class="sos-circle sos-circle-mini sos-circle-blue"
           routerLink="/meditations/love_forgiveness/thank_you"
           mdTooltip="thank you, I love you"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/tool/communication">tool</a>
    </div>
    <div *ngIf="(series | async) == 'improving_relationships' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_4'"
         class="_5_day_improving_relationships _day_4">
        <a md-button class="sos-circle sos-circle-mini sos-circle-purple"
           routerLink="/meditations/classic_calm/easy_breath"
           mdTooltip="easy breath"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/improving_day_4">bonus</a>
    </div>
    <div *ngIf="(series | async) == 'improving_relationships' && router.url.indexOf('_5_day') > -1 && (day | async) == '_day_5'"
         class="_5_day_improving_relationships _day_5">
        <a md-button class="sos-circle sos-circle-mini sos-circle-gold" routerLink="/meditations/elevate/believe"
           mdTooltip="I believe"><span></span><span></span><span></span><span><span>meditate</span></span></a>
        <a md-button routerLink="/bonus/improving_day_5">bonus</a>
    </div>
</div>