<footer>
    <h2>Discover mindful tools for well-being; <br/> rapid stress relief, focus, and peace of mind.</h2>
    <button md-raised-button mdTooltip="Menu / Tools" class="menu-icon" [mdMenuTriggerFor]="secondary"></button>
    <md-menu #secondary="mdMenu" class="secondary">
        <button md-menu-item routerLink="/signup">Sign Up</button>
        <button md-menu-item routerLink="/gift">Gift SOS</button>
        <button md-menu-item (click)="showFAQDialog()">FAQ</button>
        <a md-menu-item [href]="'https://www.thesosmethod.com/blog/'">Blog</a>
        <button md-menu-item [mdMenuTriggerFor]="share">Share</button>
        <a md-menu-item [href]="'http://www.sosmethod.org/'">Foundation</a>
        <button md-menu-item routerLink="/signup#testimonials">Testimonials</button>
        <button md-menu-item routerLink="/survey">Take the survey!</button>
        <button md-menu-item (click)="showContactDialog()">Contact Us</button>
    </md-menu>
    <button md-raised-button class="tools-icon" [mdMenuTriggerFor]="tools"></button>
    <md-menu #tools="mdMenu" y-position="above" class="tools">
        <div>
            <span>Mindful Tools</span>
            <small>Smart processes that develop habits to be responsive and adaptive to everyday life</small></div>
        <button md-menu-item (click)="showToolDialog('positivity')">
            <span>Positivity</span><small>Uplifting start to the day</small></button>
        <button md-menu-item (click)="showToolDialog('possibility_5')">
            <span>Positivity</span><small>Uplifting start to the day</small></button>
        <button md-menu-item (click)="showToolDialog('envision')">
            <span>Request &amp; Envision</span><small>Ask for guidance &amp; imagine the future</small></button>
        <button md-menu-item (click)="showToolDialog('stop_drop')">
            <span>Stop Drop &amp; Roll</span><small>Emergency release of emotion</small></button>
        <button md-menu-item (click)="showToolDialog('communication')">
            <span>Conscious Communication</span><small>Empowering thoughts &amp; words</small></button>
        <button md-menu-item (click)="showToolDialog('rewind')">
            <span>Rewind</span><small>Let go of past hurt &amp; upset</small></button>
        <!--<button md-menu-item (click)="showToolDialog('morning')">
            <span>Morning After</span><small>What worked, what didn't, what's better</small></button>-->
    </md-menu>
    <a md-raised-button href="https://www.facebook.com/thesosmethod/?fref=ts"> </a>
    <a md-raised-button href="https://twitter.com/thesosmethod"> </a>
    <a md-raised-button href="https://www.instagram.com/thesosmethod/"> </a>
    <div class="stretch-right">
        <button md-raised-button title="Choose a background" [class.active]="layout.sidebarOpen$ | async" (click)="toggleSidenav()"> </button>
    </div>
</footer>
<md-menu #share="mdMenu" class="share">
    <a md-menu-item [href]="'mailto:?subject=Check out the SOS method!&body=Hi, I found this website and thought you might like it http://sosmethod.herokuapp.com/'">Email</a>
    <button md-menu-item (click)="showSMS()">SMS</button>
    <a md-menu-item [href]="'http://www.facebook.com/sharer/sharer.php?u=https://sosmethod.herokuapp.com%3F&t=Check out The SOS Method!'">Facebook</a>
    <a md-menu-item [href]="'https://twitter.com/intent/tweet?text=Check out https://sosmethod.herokuapp.com%3F'">Twitter</a>
    <button md-menu-item (click)="showCopy()">Copy Link</button>
</md-menu>

