<footer>
    <ol id="secondary-menu">
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/gift">Gift SOS</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="https://www.thesosmethod.com/blog/">Blog</a></li>
        <li><a href="#share">Share</a></li>
        <li><a href="http://www.sosmethod.org/">Foundation</a></li>
        <li><a href="/signup#testimonials">Testimonials</a></li>
        <li><a href="/survey">Take the survey!</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a href="#secondary-menu" data-toggle="active" title="Menu / Tools"> </a></li>
    </ol>
    <ol id="tools-menu">
        <li><span>Mindful Tools</span>
            <small>Smart processes that develop habits to be responsive and adaptive to everyday life</small></li>
        <li><a href="#tool-positivity"><span>Positivity</span><small>Uplifting start to the day</small></a></li>
        <li><a href="#tool-possibility_5"><span>Possibility of 5</span><small>Inspired solutions &amp; dreams</small></a></li>
        <li><a href="#tool-envision"><span>Request &amp; Envision</span><small>Ask for guidance &amp; imagine the future</small></a></li>
        <li><a href="#tool-stop_drop"><span>Stop Drop &amp; Roll</span><small>Emergency release of emotion</small></a></li>
        <li><a href="#tool-communication"><span>Conscious Communication</span><small>Empowering thoughts &amp; words</small></a></li>
        <li><a href="#tool-rewind"><span>Rewind</span><small>Let go of past hurt &amp; upset</small></a></li>
        <!--<li><a href="/tool/morning"><span>Morning After</span><small>What worked, what didn't, what's better</small></a></li>-->
        <li><a href="#tools-menu" data-toggle="active"> </a></li>
    </ol>
    <a href="https://www.facebook.com/thesosmethod/?fref=ts"> </a>
    <a href="https://twitter.com/thesosmethod"> </a>
    <a href="https://www.instagram.com/thesosmethod/"> </a>
</footer>