
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
}

footer > a,
footer > button {
    height: 36px;
    width: 36px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 8px 12px;
    padding: 0;
    min-width:0;
    display:inline-block;
    border-radius: 100%;
    overflow:hidden;
}

h2 {
    font-size: 16px;
    padding: 10px 20px;
    position: fixed;
    left: 0;
    bottom: 50px;
    max-width: 400px;
    font-family: "Century Gothic", sans-serif;
    margin: 0;
    text-align: center;
    transition: ease-in-out .25s;
}

footer a[href*="facebook"] {
    background-image: url(/assets/icon_static_fb.png);
}

footer a[href*="facebook"]:active,
footer a[href*="facebook"]:hover,
footer a[href*="facebook"]:focus {
    background-image: url(/assets/icon_active_fb.png);
}

footer .menu-icon {
    background-image: url(/assets/icon_static_menu.png);
}

footer .menu-icon:active,
footer .menu-icon:hover,
footer .menu-icon:focus {
    background-image: url(/assets/icon_active_menu.png);
}

footer .tools-icon {
    background-image: url(/assets/icon_static_tools.png);
}

footer .tools-icon:active,
footer .tools-icon:hover,
footer .tools-icon:focus {
    background-image: url(/assets/icon_active_tools.png);
}

footer a[href*="twitter"] {
    background-image: url(/assets/icon_static_twitter.png);
}

footer a[href*="twitter"]:active,
footer a[href*="twitter"]:hover,
footer a[href*="twitter"]:focus {
    background-image: url(/assets/icon_active_twitter.png);
}

footer a[href*="instagram"] {
    background-image: url(/assets/icon_static_insta.png);
}

footer a[href*="instagram"]:active,
footer a[href*="instagram"]:hover,
footer a[href*="instagram"]:focus {
    background-image: url(/assets/icon_active_insta.png);
}

footer /deep/ .mat-button-focus-overlay,
footer /deep/ .mat-button-ripple
{
    border-radius: 100%;
}

.stretch-right {
    text-align: right;
}

/deep/ .share button input {
    opacity: 0;
    background: transparent;
    border:none;
    color:rgba(0,0,0,0);
}

/deep/ .tools div.locked span:after {
    content: " ";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background: url(/assets/lock_white-ffffff.png);
    bottom: auto;
    top: 5px;
    right: 10px;
    left: auto;
}



