<div class="video" id="background-video" style="background-image: url(/cave.jpg);">
    <video autoplay="autoplay" muted="muted" loop="loop" id="bgvid" height="240" width="320" class="centerized centerized-horizontally" playsinline="playsinline">
        <source src="https://s3-us-west-2.amazonaws.com/sosmethod/SOS-StarCave_1300x800_Loop-17_FINAL.webm?redirect=1" type="video/webm">
        <source src="https://s3-us-west-2.amazonaws.com/sosmethod/SOS-StarCave_1300x800_Loop-17_FINAL.mp4?redirect=1" type="video/webm">
    </video>
</div>