:host {
    text-align: center;
    color:white;

}

h1 {
    font-size:20px;
}

h2 {
    font-size: 16px;
}

div {
    position:absolute;
    z-index: 100;
    top:50px;
    width:100%;
    left:0;
}

.back {
    position: absolute;
    height: 28px;
    width: 29px;
    top: 20px;
    left: 20px;
    background: url(/assets/back_active.png) no-repeat left 50% transparent;
    opacity: .7;
    transition: ease-in-out .8s;
    z-index: 2000;
    border: none;
    min-width: 0;
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ol li {
    display: inline-block;
    position: relative;
    width:65px;
}

._11_day ol li {
    width:45px;
}

._11_day li:not(:last-of-type) a:after {
    width:45px;
}

li a {
    position: relative;
    display: block;
    padding: 9px;
    text-align: center;
    color: transparent;
    min-width: 0;
}

@keyframes seriesAnim {
    0%   {
        box-shadow: 4px 4px 4px rgba(73,151,203,.8);
    }
    25%  {
        box-shadow: 4px -4px 4px rgba(73,151,203,.8);
    }
    50%  {
        box-shadow: -4px -4px 4px rgba(73,151,203,.8);
    }
    75%  {
        box-shadow: -4px 4px 4px rgba(73,151,203,.8);
    }
    100%  {
        box-shadow: 4px 4px 4px rgba(73,151,203,.8);
    }
}

li:first-of-type a:before {
    content: " ";
    display: block;
    height: 28px;
    position: absolute;
    width: 28px;
    top: 0;
    left: 50%;
    margin-left:-14px;
    border: 2px solid rgba(73,151,203,1);
    border-radius: 100%;
    transition: ease-in-out .25s;
    box-shadow: -4px 4px 4px rgba(73,151,203,.8);
    animation: seriesAnim 5s ease-in-out infinite;
}

._day_2 ~ * li:first-of-type a:before {
    left:150%;
}

._day_3 ~ * li:first-of-type a:before {
    left:250%;
}

._day_4 ~ * li:first-of-type a:before {
    left:350%;
}

._day_5 ~ * li:first-of-type a:before {
    left:450%;
}

._day_6 ~ * li:first-of-type a:before {
    left:550%;
}

._day_7 ~ * li:first-of-type a:before {
    left:650%;
}

._day_8 ~ * li:first-of-type a:before {
    left:750%;
}

._day_9 ~ * li:first-of-type a:before {
    left:850%;
}

._day_10 ~ * li:first-of-type a:before {
    left:950%;
}

._day_11 ~ * li:first-of-type a:before {
    left:1050%;
}

li:not(:last-of-type) a:after {
    content: " ";
    height: 1px;
    right: -28px;
    position: absolute;
    width: 60px;
    background: rgba(255,255,255,0.5);
    top: 50%;
    margin-top: -1px;
    box-shadow: 0 1px 2px rgba(255,255,255,0.5);
}

li a.completed span {
    background-color: rgba(73,151,203,1);
    box-shadow: 0 1px 2px rgba(73,151,203,1);
}

li span {
    display: block;
    padding: 3px 3px;
    background-color: white;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    margin:auto;
}
