
:host {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1200px;
}

#discovery, #meditation {

    & {
        position: relative;
        width: 150px;
        height: 150px;
        overflow: visible;
        z-index: 1;
        transition: opacity ease-in-out .25s;
    }

    & a {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        padding: 10px;
        vertical-align: middle;
        font-size: 18px;
        color: #ffffff;
        transition: border ease-in-out .25s, box-shadow ease-in-out .25s;
        position: absolute;
        z-index: 1;
        font-family: "Century Gothic", sans-serif;
        letter-spacing: 1px;
        text-align: center;
    }

    & span:nth-of-type(4) {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a.popout > b {
        width: 250px;
    }

    & a b {
        display: block;
        position: absolute;
        width: 150px;
        height: 3px;
        top: 50%;
        left: 50%;
        transform-origin: left;
        overflow: visible !important;
        z-index: -1;
        opacity: 0;
        transition: opacity ease-in-out .25s;
    }

    & a b:before {
        content: " ";
        display: block;
        position: absolute;
        height: 100%;
        left: 75px;
        background: #fff;
        right: 0;
    }

}

#meditation-leaf, #discovery-leaf {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    overflow: visible;
    text-align: center;
    transition: opacity ease-in-out .25s;
    margin-top: 25px;
    margin-left: 25px;
}
#discovery-leaf a, #meditation-leaf a {
    width: 100px;
    height: 100px;
    opacity: 1;
    visibility: visible;
}

#meditation-leaf a b:before, #discovery-leaf a b:before {
    left: 50px;
}

#discovery-leaf a > span:last-of-type:after {
    background: url(/assets/lock_soothing-0cf3ad.png);
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
}

#discovery-leaf a.completed > span:last-of-type:after {
    background: none;
    content: "\2713";
    font-size: 30px;
    height: 30px;
}

@media (max-width: 700px) {

    #discovery a b:before, #meditation a b:before {
        left: 60px;
    }

    #discovery a, #meditation a, #meditation, #discovery {
        width: 120px;
        height: 120px;
    }

    #meditation-leaf, #discovery-leaf {
        margin-top:20px;
        margin-left:20px;
    }

    #meditation-leaf a, #discovery-leaf a, #meditation-leaf, #discovery-leaf {
        height: 80px;
        width: 80px;
    }

    #meditation-leaf a b:before, #discovery-leaf a b:before {
        left: 40px;
    }

}

