<div id="discovery">
    <div id="discovery-leaf">
        <a href="/_5_day/essentials" title="Release stress &amp; expand peace of mind"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 5 day</span></span></a>
        <a href="/_11_day/essentials" title="Advance positivity &amp; mindful awareness"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 11 day</span></span></a>
        <a href="/_5_day/soothing_relief" title="Reduce anxiety, depression &amp; trauma"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 5 day</span></span></a>
        <a href="/_11_day/soothing_relief" title="Overcome patterns, gain vitality &amp; joy"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 11 day</span></span></a>
        <a href="/_5_day/improving_relationships" title="Open communication &amp; acceptance"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 5 day</span></span></a>
        <a href="/discovery/improving_relationships#/_11_day/improving_relationships" title="Forgive &amp; appreciate yourself &amp; others"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 11 day</span></span></a>
        <a href="/_5_day/focus_and_creativity" title="Boost courage, confidence &amp; Inspiration"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 5 day</span></span></a>
        <a href="/_11_day/focus_and_creativity" title="Increase performance &amp; fulfillment"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 11 day</span></span></a>
        <a href="/discovery/kids#/_5_day/kids" title="COMING SOON"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 5 day</span></span></a>
        <a href="/discovery/kids#/_11_day/kids" title="COMING SOON"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 11 day</span></span></a>
        <a href="/discovery/pets#/_5_day/pets" title="COMING SOON"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 5 day</span></span></a>
        <a href="/discovery/pets#/_11_day/pets" title="COMING SOON"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 11 day</span></span></a>
    </div>
    <a href="/discovery/essentials"><b></b><span></span><span></span><span></span><span>
        <span class="centerized">essentials</span></span></a>
    <a href="/discovery/soothing_relief"><b></b><span></span><span></span><span></span><span>
        <span class="centerized">soothing <br/>relief</span></span></a>
    <a href="/discovery/improving_relationships"><b></b><span></span><span></span><span></span><span>
        <span class="centerized">improving <br/>relationships</span></span></a>
    <a href="/discovery/focus_and_creativity"><b></b><span></span><span></span><span></span><span>
        <span class="centerized">focus and <br/>creativity</span></span></a>
    <a href="/discovery/kids"><b></b><span></span><span></span><span></span><span>
        <span class="centerized">super kids</span></span></a>
    <a href="/discovery/pets"><b></b><span></span><span></span><span></span><span>
        <span class="centerized">happy dogs</span></span></a>
</div>