<bc-course></bc-course>
<div id="discovery" #discovery>
    <div id="discovery-leaf" #discoveryLeaf>
        <a md-button routerLink="/_5_day/essentials" mdTooltip="Release stress &amp; gain peace of mind"
           class=" sos-circle sos-circle-purple"
            *ngIf="(series$ | async) === 'essentials'"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 5 day</span></span></a>
        <a md-button routerLink="/_11_day/essentials" title="Advance positivity &amp; mindful awareness"
           class=" sos-circle sos-circle-purple"
           *ngIf="(series$ | async) === 'essentials'"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 11 day</span></span></a>
        <a md-button routerLink="/_5_day/soothing_relief" title="Reduce anxiety, depression &amp; trauma"
           class=" sos-circle sos-circle-green"
           *ngIf="(series$ | async) === 'soothing_relief'"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 5 day</span></span></a>
        <a md-button routerLink="/_11_day/soothing_relief" title="Overcome patterns, gain vitality &amp; joy"
           class=" sos-circle sos-circle-green"
           *ngIf="(series$ | async) === 'soothing_relief'"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 11 day</span></span></a>
        <a md-button routerLink="/_5_day/improving_relationships" title="Open communication &amp; acceptance"
           class=" sos-circle sos-circle-ruby"
           *ngIf="(series$ | async) === 'improving_relationships'"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 5 day</span></span></a>
        <a md-button (click)="doNothing()" mdTooltip="Coming Soon"
           title="Forgive &amp; appreciate yourself &amp; others"
           class=" sos-circle sos-circle-ruby locked"
           *ngIf="(series$ | async) === 'improving_relationships'"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 11 day</span></span></a>
        <a md-button routerLink="/_5_day/focus_and_creativity" title="Boost courage, confidence &amp; Inspiration"
           class=" sos-circle sos-circle-gold"
           *ngIf="(series$ | async) === 'focus_and_creativity'"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 5 day</span></span></a>
        <a md-button routerLink="/_11_day/focus_and_creativity" title="Increase performance &amp; fulfillment"
           class=" sos-circle sos-circle-gold"
           *ngIf="(series$ | async) === 'focus_and_creativity'"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 11 day</span></span></a>
        <a md-button (click)="doNothing()" mdTooltip="Teens chill out & power up fast"
           class=" sos-circle sos-circle-blue locked"
           *ngIf="(series$ | async) === 'kids'"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 5 day</span></span></a>
        <a md-button (click)="doNothing()" mdTooltip="Help your child be happier, healthier & smarter"
           class=" sos-circle sos-circle-blue locked"
           *ngIf="(series$ | async) === 'kids'"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 11 day</span></span></a>
        <a md-button (click)="doNothing()" mdTooltip="Release stress &amp; gain a bright mind"
           class=" sos-circle sos-circle-coral locked"
           *ngIf="(series$ | async) === 'pets'"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 5 day</span></span></a>
        <a md-button (click)="doNothing()" mdTooltip="Advance positivity &amp; mindful awareness"
           class=" sos-circle sos-circle-coral locked"
           *ngIf="(series$ | async) === 'pets'"><b></b><span></span><span></span><span></span><span>
            <span class="centerized"> 11 day</span></span></a>
    </div>
    <a md-button routerLink="/discovery/essentials"
       class=" sos-circle sos-circle-purple"><b></b><span></span><span></span><span></span><span>
        <span class="centerized">essentials</span></span></a>
    <a md-button routerLink="/discovery/soothing_relief"
       class=" sos-circle sos-circle-green"><b></b><span></span><span></span><span></span><span>
        <span class="centerized">soothing <br/>relief</span></span></a>
    <a md-button routerLink="/discovery/improving_relationships"
       class=" sos-circle sos-circle-ruby"><b></b><span></span><span></span><span></span><span>
        <span class="centerized">improving <br/>relationships</span></span></a>
    <a md-button routerLink="/discovery/focus_and_creativity"
       class=" sos-circle sos-circle-gold"><b></b><span></span><span></span><span></span><span>
        <span class="centerized">focus and <br/>creativity</span></span></a>
    <a md-button routerLink="/discovery/kids"
       class=" sos-circle sos-circle-blue"><b></b><span></span><span></span><span></span><span>
        <span class="centerized">super kids</span></span></a>
    <a md-button routerLink="/discovery/pets"
       class=" sos-circle sos-circle-coral"><b></b><span></span><span></span><span></span><span>
        <span class="centerized">happy dogs</span></span></a>
</div>