
:host {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1200px;
}

#discovery {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: visible;
    z-index: 1;
    transition: opacity ease-in-out .25s;
}

#discovery a {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 10px;
    vertical-align: middle;
    font-size: 18px;
    color: #ffffff;
    transition: border ease-in-out .25s, box-shadow ease-in-out .25s;
    position: absolute;
    z-index: 1;
    font-family: "Century Gothic", sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

#discovery span:nth-of-type(4) {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#discovery-leaf a {
    width: 100px;
    height: 100px;
    display: none;
}

#discovery a > b {
    display: block;
    position: absolute;
    width: 150px;
    height: 3px;
    top: 50%;
    left: 50%;
    transform-origin: left;
    overflow: visible !important;
    z-index: -1;
}

#discovery a > b:before {
    content: " ";
    display: block;
    position: absolute;
    height: 100%;
    left: 50%;
    background: #fff;
    right: 0;
}


