#player {
    top:0;
    right:0;
    bottom:0;
    left:0;
    min-height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}


#player h3
{
    position:absolute;
    bottom:-10px;
    width:100%;
    left:0;
    top:auto;
}

#player .preview-progress,
#player .preview-play .pause,
#player .preview-play .play
{
    display:block;
    height: 65px;
    width: 65px;
    border: 0;
    transition: margin-left ease-in-out .25s;
    cursor: pointer;

}

#player .preview-inner {
    position:relative;
    transition: margin ease-in-out .25s;
}

#player .preview-play {
    position:absolute;
    top:0;
    z-index: 100;
}

#player .preview-play .play {
    background: url(/assets/play.png) no-repeat 50% 50%;
    background-size:auto 30px;
}

#player .preview-play .pause {
    display: none;
    background: url(/assets/pause.png) no-repeat 50% 50%;
    background-size:auto 30px;
}

#player .preview-progress {
    background:none transparent;
}

#player .preview-progress:before {
    content: " ";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 100%;
}

md-progress-spinner {
    height:65px;
    width:65px;
}

.first .preview-inner {
    margin-left:-89px;
}

.second .preview-inner {
    margin-left:89px;
}

.single .preview-inner {
    margin-left:-1px;
}

.triple.first .preview-inner {
    margin-left: -184px;
}

.triple.second .preview-inner {
    margin-left: -5px;
}

.triple.third .preview-inner {
    margin-left: 174px;
}

#player.playing .preview-play .play {
    display:none;
}

#player.playing .preview-play .pause {
    display:block;
}

