#player {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
}


#player h3
{
    position:absolute;
    bottom:-10px;
    width:100%;
    left:0;
    top:auto;
}

#player .preview-progress,
#player .preview-play .pause,
#player .preview-play .play
{
    display:block;
    height: 65px;
    width: 65px;
    border: 0;
    transition: margin-left ease-in-out .25s;
    cursor: pointer;

}

#player .preview-play .play {
    background: url(/assets/play.png) no-repeat 50% 50%;
    background-size:auto 30px;
}

#player .preview-play .pause {
    display: none;
    background: url(/assets/pause.png) no-repeat 50% 50%;
    background-size:auto 30px;
}

#player .preview-progress
{
    background:none transparent;
}

