<h3 class="_5_day_essentials _day_1">day 1 - meditation reinvented - 5 min</h3>
<h3 class="_5_day_essentials _day_2">day 2 - genetics &amp; brain hacking - 6 min</h3>
<h3 class="_5_day_essentials _day_3">day 3 - the most important thing - 6 min</h3>
<h3 class="_5_day_essentials _day_4">day 4 - stop drop &amp; roll tool - 6 min</h3>
<h3 class="_5_day_essentials _day_5">day 5 - excellence - 6 min</h3>

<h3 class="_11_day_essentials _day_1">day 1 - overcome stumbling blocks reinvented - 5 min</h3>
<h3 class="_11_day_essentials _day_2">day 2 - neuroplasticity - 5 min</h3>
<h3 class="_11_day_essentials _day_3">day 3 - focus, fuel and action - 5 min</h3>
<h3 class="_11_day_essentials _day_4">day 4 - positivity tool - 9 min</h3>
<h3 class="_11_day_essentials _day_5">day 5 - daydreaming - 5 min</h3>
<h3 class="_11_day_essentials _day_6">day 6 - affirming word - 5 min</h3>
<h3 class="_11_day_essentials _day_7">day 7 - mind sculpting - 5 min</h3>
<h3 class="_11_day_essentials _day_8">day 8 - possibility of 5 tool - 9 min</h3>
<h3 class="_11_day_essentials _day_9">day 9 - the greatest teachers - 5 min</h3>
<h3 class="_11_day_essentials _day_10">day 10 - brain waves - 5 min</h3>
<h3 class="_11_day_essentials _day_11">day 11 - feeding the mind &amp; body - 5 min</h3>

<h3 class="_11_day_soothing_relief _day_1">day 1 - being open - 6 min</h3>
<h3 class="_11_day_soothing_relief _day_2">day 2 - healing tradition - 6 min</h3>
<h3 class="_11_day_soothing_relief _day_3">day 3 - body's potential - 6 min</h3>
<h3 class="_11_day_soothing_relief _day_4">day 4 - morning after tool - 8 min</h3>
<h3 class="_11_day_soothing_relief _day_5">day 5 - deepening mindfulness - 6 min</h3>
<h3 class="_11_day_soothing_relief _day_6">day 6 - be in the moment - 5 min</h3>
<h3 class="_11_day_soothing_relief _day_7">day 7 - hidden inheritance - 6 min</h3>
<h3 class="_11_day_soothing_relief _day_8">day 8 - forgiveness tool - 9 min</h3>
<h3 class="_11_day_soothing_relief _day_9">day 9 - regret free - 7 min</h3>
<h3 class="_11_day_soothing_relief _day_10">day 10 - complaints - 4 min</h3>
<h3 class="_11_day_soothing_relief _day_11">day 11 - feeding the mind &amp; body - 5 min</h3>

<h3 class="_11_day_focus_and_creativity _day_1">day 1 - necessity of creativity - 6 min</h3>
<h3 class="_11_day_focus_and_creativity _day_2">day 2 - intention &amp; to do - 6 min</h3>
<h3 class="_11_day_focus_and_creativity _day_3">day 3 - intention - 6 min</h3>
<h3 class="_11_day_focus_and_creativity _day_4">day 4 - priorities - 8 min</h3>
<h3 class="_11_day_focus_and_creativity _day_5">day 5 - principal - 6 min</h3>
<h3 class="_11_day_focus_and_creativity _day_6">day 6 - helpful tension - 5 min</h3>
<h3 class="_11_day_focus_and_creativity _day_7">day 7 - science of intuition - 6 min</h3>
<h3 class="_11_day_focus_and_creativity _day_8">day 8 - intuitive abilities - 9 min</h3>
<h3 class="_11_day_focus_and_creativity _day_9">day 9 - dynamic messages - 7 min</h3>
<h3 class="_11_day_focus_and_creativity _day_10">day 10 - passion &amp; trust - 4 min</h3>
<h3 class="_11_day_focus_and_creativity _day_11">day 11 - feeding the mind &amp; body - 5 min</h3>

<h3 class="_5_day_focus_and_creativity _day_1">day 1 - higher mind solutions - 6 min</h3>
<h3 class="_5_day_focus_and_creativity _day_2">day 2 - mirror neurons - 6 min</h3>
<h3 class="_5_day_focus_and_creativity _day_3">day 3 - request envision - 10 min</h3>
<h3 class="_5_day_focus_and_creativity _day_4">day 4 - higher mind - 7 min</h3>
<h3 class="_5_day_focus_and_creativity _day_5">day 5 - value of time - 7 min</h3>

<h3 class="_5_day_soothing_relief _day_1">day 1 - welcome - 6 min</h3>
<h3 class="_5_day_soothing_relief _day_2">day 2 - epigenics and you - 6 min</h3>
<h3 class="_5_day_soothing_relief _day_3">day 3 - rewind - 7 min</h3>
<h3 class="_5_day_soothing_relief _day_4">day 4 - clear the slate - 4 min</h3>
<h3 class="_5_day_soothing_relief _day_5">day 5 - perception - 6 min</h3>

<h3 class="_5_day_improving_relationships _day_1">day 1 - cooperation &amp; love - 5 min</h3>
<h3 class="_5_day_improving_relationships _day_2">day 2 - power of thought - 5 min</h3>
<h3 class="_5_day_improving_relationships _day_3">day 3 - conscious communication - 7 min</h3>
<h3 class="_5_day_improving_relationships _day_4">day 4 - enhancing self esteem - 4 min</h3>
<h3 class="_5_day_improving_relationships _day_5">day 5 - changing the conversation - 6 min</h3>