<bc-discovery-series *ngIf="isDiscovery$ | async"></bc-discovery-series>
<bc-meditations *ngIf="(isDiscovery$ | async) == false"></bc-meditations>
<div id="player">
    <div class="preview-inner">
        <div class="preview-progress centerized">
            <md-progress-spinner
                    color="primary"
                    mode="determinate"
                    [value]="value">
            </md-progress-spinner>
        </div>
        <div class="preview-play">
            <a (click)="play()" class="play centerized"></a>
            <a (click)="pause()" class="pause centerized"></a>
        </div>
    </div>
</div>
<bc-player-controls></bc-player-controls>
<bc-meditate></bc-meditate>


