<md-dialog-content>
<div id="tools">
    <div *ngIf="dialogRef.config.data.tool == 'stop_drop'">
        <a href="#close">X</a>
        <h1>Stop, Drop &amp; Roll</h1>
        <p>Don’t wait till you’re in a panic to check it out. Try <strong>Stop, Drop &amp; Roll</strong> the next time you get an upsetting phone call, feel road rage, or someone pushes your buttons.<br /></p>
        <blockquote>
            <strong>STOP</strong>, and become aware of what’s happening.<br/>
            <strong>DROP</strong> what you’re doing in the moment – so you can<br/>
            <strong>ROLL</strong> with a different response later.<br/>
        </blockquote>
        <p>Here are 4 ways to “Drop it”:<br/></p>
        <ol>
            <li><strong>Get Physical</strong> Go for a Run. Work out in the gym. Do Yoga or any type of physical movement that stimulates a release. This helps to move negative energy and those debilitating symptoms - out of the body.<br/><br/></li>
            <li><strong>Get Vocal</strong> Shout it out or Sing it out –either at home, or the car, or in nature - but not directed at anyone. Once we speak those repressed feelings out loud, our physical symptoms lessen. You might even burst out in laughter.<br/><br/></li>
            <li><strong>Get Sad</strong> Cry out loud. Watch a sad Movie, or Think of Anything that Releases Sadness through Tears. Crying neutralizes that raging heat inside, and, like a forest after a rain, it refreshes and renews our spirit. Feel the depth of hurt releasing and let it all out.<br/><br/></li>
            <li><strong>Get Soaked</strong> Stand in a shower, Soak in a tub, or Go for a Swim. Imagine that each drop of water washing over you calms that fire in your mind and body. Repeat the words, “I’m letting it all go…” Feel the soothing water neutralize your anger, helping you “let it all go.”<br/><br/></li>
        </ol>
        <p>Once you have shifted out of the intensity of a downward spiral, then – <strong>Choose one of the meditations</strong> that help you <strong>Roll</strong> with an inspired response. We suggestion using any you feel drawn to in the moment.</p>
        <p><strong>Stop, Drop &amp; Roll</strong> really helps to calm the flames so you make better choices and get back into a state of mind that supports the life you want.</p>
    </div>
    <div *ngIf="dialogRef.config.data.tool == 'envision'">
        <a href="#close">X</a>
        <h1>REQUEST &amp; ENVISION</h1>
        <p>It's wonderful to have deductive reasoning skills – but consider how many of our best ideas happen in the shower. Is it because our mind is at rest?<br />
            <strong>Request &amp; Envision</strong> accesses solutions you can’t find from the linear mind. When we attune to higher mind intelligence, we are connecting with a remarkable creative flow.</p>
        <p>The renowned author, Dr. Ernest F. Pecci, says that “In a highly creative individual the brain must be trained to create new thinking channels.” When we set a heart/mind vision, we are changing brain function so that it assists us to create a new environment. We can generate a new future by shifting the thoughts that set positive actions and circumstances in motion.</p>
        <h2>Request &amp; Envision</h2>
        <p><strong>1. EXPLORE:</strong> one area where you would like to have a solution to something that troubles you – or where you want inspiration to move forward on a new idea or project</p>
        <p><strong>Write the Request</strong> as an invitation for higher knowledge rather than a demand for answers. Such as:</p>
        <ul><li><strong>Guide</strong> and show me the best way to ________ sample:<br />
            <strong>Guide</strong> and show me the best way to communicate with my wife.<br /></li>
            <li><strong>Help me understand</strong> what is needed to _______ sample:<br />
                <strong>Help me understand</strong> what is needed to have a thriving business.</li></ul>
        <p>Now Journal 3 Requests in one area of your life that would be helpful to you, to get better answers:</p>
        <br /><hr />
        <br /><hr />
        <br /><hr />
        <p>The next step is to Write what you Envision, an outcome that makes you happy, that makes you feel good. Similar to the Positivity Tool, choose an outcome that helps you move up the cycle of positive emotions. Make it a vision that aligns with your heart as well as your mind.</p>
        <p>Now Journal 1 to 3 statements of your heart/mind vision that would help you envision and feel the outcome you are intending. Some examples are:</p>
        <ul><li>My wife and I are laughing and enjoying each other’s company. OR,<br /></li>
            <li>I love meeting new customers and hearing how much they appreciate my store.</li></ul>
        <p>Now Journal <strong>1 to 3 heart/mind visions:</strong></p>
        <br /><hr />
        <br /><hr />
        <br /><hr />
        <p><strong>2. LISTEN:</strong> to any <strong>SOS Meditation</strong> to fuel inspiration and creativity.</p>
        <p><strong>3. ENGAGE:</strong> Act on any insights you get –now or in the days and weeks ahead as more insight appears.</p>
        <p><strong>Request &amp; Envision</strong> can be woven into life to develop clarity, overcome challenges, or just to gain insight on new projects and adventures. Repeat often, as insights you get are just the next step; they’re usually not an ultimate answer.</p>
        <p>Be sure to <strong>Journal</strong> your ideas and what happens – as it gives you confidence in your ability to always find solutions. We’re on a journey, and each step is one that assists us to grow, to become more mindful, and aware of our strengths and capabilities.</p>
    </div>
    <div *ngIf="dialogRef.config.data.tool == 'positivity'">
        <a href="#close">X</a>
        <h1>Positivity Tool</h1>
        <p>With the <strong>Positivity</strong> Tool you move up the emotional scale, from negative to positive, in incremental steps. This way your mind doesn’t have to take too big a leap. When we’re worried or upset - by refocusing on what we’re “thankful for”, or “what would make this week special?” – it helps us move up that spiral of emotion gradually.</p>
        <p>If your answer to “What would make this week special” is to “win the lottery” – your mind could resist that big of a leap - so it could actually have the opposite effect. When the mind doesn’t believe something’s possible, you subconsciously reject the idea, and feel even worse.</p>
        <p>When your focus is on thoughts that make you smile, it helps set the stage for your day, life, and future to be all that you want it to be.</p>
        <p><strong>The Positivity Tool begins by focusing on 3 questions:</strong></p>
        <strong>1. EXPLORE</strong>
        <strong>What am I thankful for?</strong>
        <p>When you think about what you’re grateful for - notice how these ‘Happy thoughts’ make you feel. Brain science shows us how effective it is when neuro-transmitters are stimulated. Dopamine, the natural pleasure chemical, floods the brain, improving your mood. Some examples you could write are:</p>
        <blockquote><ul>
            <li>I’m thankful for my friends.</li>
            <li>I love where I live.</li>
            <li>I’m grateful that I’m learning new ways to get healthier, heal deep rooted pain and enjoy the present moment.</li></ul></blockquote>
        <p>Now Journal 3 answers that make you smile. <strong>What am I thankful for?</strong></p>
        <br /><hr />
        <br /><hr />
        <br /><hr />
        <p><strong>(next question) What would make this week special?</strong></p>
        <p>Choose something that you are in control of. Again, if you’re not in charge of something, like “winning the lottery”, then you won’t believe it, which can be depressing and you’ll lose your ability to move up the emotional scale and feel great. Some examples for making this week special are:</p>
        <blockquote><ul>
            <li>Enjoy a delicious lunch with an old friend.</li>
            <li>Watch a movie that makes you laugh.</li>
            <li>Take time to swim and relax somewhere beautiful.</li></ul></blockquote>
        <p><strong>Got the idea? Now Journal 1-3 answers for What would make this week special?</strong></p>
        <br /><hr />
        <br /><hr />
        <br /><hr />
        <p><strong>(last question) What can I do this week to be more (? Fill in blank)</strong></p>
        <p>Pick one trait, for example to be more: patient, courageous, caring, creative, generous, compassionate, or focused. Sometimes people say they want all of these qualities, and you can have them– but only choose one a week. Why? To keep your focus. Some ideas if you had chosen “generous” are:</p>
        <blockquote><ul>
            <li>I’ll do something kind and not look for recognition.</li>
            <li>I’ll tell 3 people in my life how much they mean to me</li>
            <li>I’ll give a special gift to someone who doesn’t expect it.</li></ul></blockquote>
        <p>Journal 1 - 3 ideas of what you’ll do to expand on the trait you chose. <strong>What can I do this week to be more ____________?</strong> (Fill in blank)</p>
        <br /><hr />
        <br /><hr />
        <br /><hr />
        <p><strong>2. LISTEN:</strong> to any of the <strong>SOS Meditations</strong> to fuel inspiration and creativity.</p>
        <p><strong>3. ENGAGE:</strong> Take action on what you’ve written, and any insights you get - now and in the coming days.</p>
        <p>You can apply the Positivity Tool anytime you wake up with worry or upset. OR several times a week. It helps to switch gears and develop a positive environment in your mind, body, and in your day.</p>
    </div>
    <div *ngIf="dialogRef.config.data.tool == 'rewind'">
        <a href="#close">X</a>
        <h1>Rewind</h1>
        <p>Applying the <strong>Rewind Tool</strong> helps to decrease the effects of genetic inheritance and increase empowerment. Having a mindful awareness of what isn’t working, is as important as directing our attention to what is. The <strong>Rewind Tool</strong> assists us by exploring both areas.</p>
        <h2>1. EXPLORE:</h2>
        <p><strong>What habits do you have that could have been generationally passed down?</strong> Like: constant worry, over reacting, overeating, hyperactive, obsessive, or any addictive tendencies.</p>
        <p>Reflect, then journal your answers:</p>
        <br /><hr />
        <br /><hr />
        <br /><hr />
        <p>And, remember – this isn’t a blame game. What this offers, is a new perspective that can open more compassion, empathy, and love. ☺</p>
        <p><strong>What empowering trait would you like to have instead?</strong> Maybe you want more tolerance, courage, acceptance, resilience, or trust.</p>
        <p>Journal your answers:</p>
        <br /><hr />
        <br /><hr />
        <br /><hr />
        <p><strong>2. LISTEN:</strong> Open to the mindful awareness this healing environment offers in meditation.</p>
        <p><strong>3. ENGAGE:</strong> Stay open to the insight you get. Become aware of what wants to change. Then take action - now and in the coming days.</p>
        <p>Each day builds on the next. It's not a race, it's the unfolding of a life you grow to enjoy more and more each day.</p>
    </div>
    <div *ngIf="dialogRef.config.data.tool == 'possibility_5'">
        <a href="#close">X</a>
        <h1>Possibility of 5</h1>
        <p>The Possibility of 5 Tool shows you how to get your power back, how to get a mindset of so much possibility, you don’t only feel better right away – you’re truly inspired and ready to set a new course of action.  The Possibility of 5 opens a data base of inspired solutions.</p>
        <p>We don’t have to be victims of our circumstances; we can tap into the intelligence and remarkable potential we have - and discover limitless possibilities to prosper and thrive. So, let’s get started:</p>
        <p><strong>1. EXPLORE:</strong> - Begin by focusing on 3 questions:</p>
        <p><strong>What is triggering you?</strong> Some examples are:</p>
        <ul><li>I feel like I am being taken advantage of</li>
            <li>I don't like being dominated or manipulated</li>
            <li>I feel like I am not being heard</li>
            <li>I think I could lose a lot of money</li></ul>
        <p>(now) Journal your ideas of What is triggering you?</p>
        <br /><hr />
        <br /><hr />
        <br /><hr />
        <p><strong>What is another way of looking at this?</strong> Some examples are:</p>
        <ul><li>He is acting from his childhood programming</li>
            <li>Maybe it’s just business, and I’m not being taken advantage of</li>
            <li>Maybe I don’t understand his point of view</li>
            <li>If this deal goes through, I’ll have more time to focus on new projects that make me happier, and bring even more prosperity.</li></ul>
        <p><i>Notice,</i> that what is written, helps to move up the spiral, from negative thoughts to more positive.</p>
        <p><strong>Now, journal your upward spiral of ideas;</strong> What is another way of looking at this situation - for yourself?</p>
        <br /><hr />
        <br /><hr />
        <br /><hr />
        <p><strong>Think of 5 Possibilities that show how this situation could actually benefit you?</strong> – Some ideas are:</p>
        <ul><li>I learn how to handle difficult situations with ease and grace.</li>
            <li>I learn to trust that everything works out for the best in the long run.</li>
            <li>I realize how to be empowered when feeling victimized</li>
            <li>I gain a new perspective that supports all my ventures.</li>
            <li>I find new projects that triple my enjoyment.</li></ul>
        <p>Now, Journal 5 Possibilities that show how this situation could benefit you:</p>
        <br /><hr />
        <br /><hr />
        <br /><hr />
        <p><strong>2. LISTEN:</strong> - to any one of the meditations, to stimulate those neurotransmitters that fuel inspiration and better decisions. And</p>
        <p><strong>3. ENGAGE:</strong> – take action in the days ahead on what you journal. Some examples of actions are:</p>
        <ul><li>Sign the deal and - move on</li>
            <li>Set a timeline for beginning an exciting project.</li>
            <li>Set intention for finding caring, supportive new partnerships</li>
            <li>Set heart/mind vision for being in the flow, where the extraordinary in life appears</li>
            <li>Send love to heal the person so he can find generosity and love within his heart</li></ul>
        <p>Now, Write 1 to 5 actions you will take:</p>
        <br /><hr />
        <br /><hr />
        <br /><hr />
        <p><strong>The Possibility of 5</strong> can be used throughout life. There will always be storms, but we won’t have to worry when they show up, if we just remember this Tool. It can also be used to spark new ideas that are out of the box – and filled with possibility.</p>
        <p>If you didn’t finish writing, do that now, before beginning your meditation. Remember, every day is a new day! Life can be GREAT!</p>
    </div>
    <div *ngIf="dialogRef.config.data.tool == 'communication'">
        <a href="#close">X</a>
        <h1>Conscious Communication</h1>
        <p>You are always broadcasting, 24/7 to everyone around you, including the intelligent cells in your body. Your emotional state is affected by your thoughts, and how you feel about what others say.</p>
        <p>When someone is happy or content they broadcast energy waves of joy and optimism. - Whoever has the strongest emotional state, whether positive or negative, causes the people they are with to match that state – similar to a tuning fork.</p>
        <p>So, let’s look at how to shift communication that has those negative traits - and build long lasting habits that improve all the relationships in our lives. Here’s how to begin applying the <strong>Conscious Communication Tool:</strong></p>
        <h2>1. EXPLORE:</h2>
        <p><strong>What negative thoughts or words do you hear yourself repeating that don’t match a mindful emotional state?</strong> Do you:</p>
        <ul><li>think you’re stupid when you don’t understand something,</li>
            <li>rehash destructive memories, or</li>
            <li>talk rudely to others</li></ul>
        <p>Now, journal your answers. What negative thoughts or words do you hear yourself repeating that don’t match a mindful emotional state?</p>
        <br /><hr />
        <br /><hr />
        <br /><hr />
        <p>And, remember – this isn’t about blaming yourself. (so the next question to explore is)</p>
        <p><strong>What empowering thoughts or words could you choose instead?</strong> Some examples are:</p>
        <ul><li>Instead of calling yourself stupid, repeat “Thank you, I love you”</li>
            <li>Instead of rehashing negative memories, repeat “I know it’s not personal they must be going through something difficult.”</li>
            <li>Instead of talking rudely, become aware and replace hurtful words in the moment (with uplifting ones)</li></ul>
        <p>Now, journal your new form of communication. What empowering thoughts or words would you choose?</p>
        <br /><hr />
        <br /><hr />
        <br /><hr />
        <p><strong>2. LISTEN:</strong> and open to the mindful awareness this healing environment offers in meditation.</p>
        <p><strong>3. ENGAGE:</strong> Become aware of what wants to change. Then take action - now and in the coming days. Notice how Conscious Communication shifts the way you feel and the way others respond to you.</p>
        <p><strong>Conscious Communication</strong> isn’t about putting on a false front. It’s about attuning every part of you to be more mindful, uplifting, and supportive.  What this offers is a new perspective that opens more compassion, empathy, and love. ☺</p>
        <p>Whenever thoughts and words surface that feel like an old pattern, try repeating “Thank you. I love you.” This simple phrase has immediate effects, try it and see. And if you want to feel it for yourself, just press play and listen to today’s meditation.</p>
    </div>
</div>
</md-dialog-content>

