<div id="survey" class="modal net-promoter">
    <form action="/survey" method="post">
        <a href="/">X</a>
        <h1>Survey</h1>
        <label><span>Would you recommend meditation to others?</span></label>
        <label class="radio"><input type="radio" name="investment-net-promoter" value="1"><i></i><br><span>1</span></label>
        <label class="radio"><input type="radio" name="investment-net-promoter" value="2"><i></i><br><span>2</span></label>
        <label class="radio"><input type="radio" name="investment-net-promoter" value="3"><i></i><br><span>3</span></label>
        <label class="radio"><input type="radio" name="investment-net-promoter" value="4"><i></i><br><span>4</span></label>
        <label class="radio"><input type="radio" name="investment-net-promoter" value="5"><i></i><br><span>5</span></label>
        <label class="radio"><input type="radio" name="investment-net-promoter" value="6"><i></i><br><span>6</span></label>
        <label class="radio"><input type="radio" name="investment-net-promoter" value="7"><i></i><br><span>7</span></label>
        <label class="radio"><input type="radio" name="investment-net-promoter" value="8"><i></i><br><span>8</span></label>
        <label class="radio"><input type="radio" name="investment-net-promoter" value="9"><i></i><br><span>9</span></label>
        <label class="radio"><input type="radio" name="investment-net-promoter" value="10"><i></i><br><span>10</span></label>
        <label><span>Any suggestions, feedback, or features your would like to see?</span>
            <textarea name="feedback"></textarea>
        </label>
        <label class="error">Oops! Please answer both questions and try again.</label>
        <button type="submit">Send</button>
    </form>
</div>