<bc-sidenav [open]="layout.sidebarOpen | async"
            [class.menuOpen]="layout.sidebarOpen | async"
            [class.playing]="(audio.state | async) === 'playing'"
            [class.inactive]="(inactive | async)"
            [class.notopen]="!openDialog"></bc-sidenav>
<bc-tools-menu [open]="layout.toolsOpen | async"
               [class.menuOpen]="layout.toolsOpen | async"></bc-tools-menu>
<bc-share-menu [open]="layout.shareOpen | async"
               [class.menuOpen]="layout.shareOpen | async"></bc-share-menu>
<bc-secondary-menu [open]="layout.secondaryOpen | async"
                   [class.menuOpen]="layout.secondaryOpen | async"></bc-secondary-menu>
<bc-toolbar (openMenu)="openSidenav()">
    {{ 'HOME.TITLE' | translate }}
</bc-toolbar>
<bc-layout [class]="route | async">
    <router-outlet></router-outlet>
</bc-layout>
<bc-footer *ngIf="router.url === '/'"></bc-footer>
<div class="stretch-right">
    <a md-raised-button mdTooltipPosition="above"
       *ngIf="router.url.indexOf('/signup') == -1 && router.url.indexOf('/gift') == -1 && router.url.indexOf('/testimonials') == -1"
       mdTooltip="Choose a background" [class.active]="layout.sidebarOpen | async"
       (click)="toggleSidenav()"></a>
</div>
<bc-video></bc-video>
<a class="activate" md-button (click)="activate($event)"></a>

