@import '~@angular/material/theming';
@import './sos-color';
@import './sos-materials';
@import './sos-circle';
@import './sos-circle-color';
@import './sos-circle-animations';

.signup, .gift, .testimonials {
    .mat-sidenav-container[fullscreen] {
        position: static;
    }
}

.return-to-top,
.stretch-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1001;
}

.return-to-top a,
.stretch-right > a {
    height: 36px;
    width: 36px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 8px 12px;
    padding: 0;
    min-width: 0;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
}

.return-to-top a,
.return-to-top a:hover,
.stretch-right a {
    transition: margin-right .15s ease-in-out;
    background-image: url(/assets/icon_static_bk-tray.png);
}

.return-to-top a,
.stretch-right a:hover {
    background-image: url(/assets/icon_active_bk-tray.png);
}

.return-to-top {
    transform: rotate(90deg);
}

.stretch-right a.active {
    margin-right: 150px;
    background-image: url(/assets/icon_static_bk-tray-close.png);
}

.stretch-right button.active:hover {
    background-image: url(/assets/icon_active_bk-tray-close.png);
}

.preview-inner, .meditate, bc-discovery-series, bc-player-controls, bc-meditations {
    transition: opacity ease-in-out 1s;
}

bc-app .activate {
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.playing.inactive.notopen, .playing.inactive.notopen ~ .stretch-right {
    opacity: 0;
    z-index: 0;
}

.playing.inactive.notopen ~ .activate {
    opacity: 1;
    z-index: 10000;
}

.playing.inactive.notopen ~ * {

    .preview-inner, .meditate, bc-discovery-series, bc-player-controls, bc-meditations {
        opacity: 0;
        z-index: -1 !important;
    }

}

.menuOpen ~ .activate {
    opacity: 1;
    z-index: 900;
}

.menuOpen ~ *, .menuOpen {

    .preview-inner, .meditate, & ~ bc-toolbar, bc-discovery, bc-mediation, bc-course, bc-main-menu, bc-discovery-series, bc-player-controls, bc-meditations, footer {
        opacity: .3;
        z-index: 0 !important;
    }
}


