<bc-sidenav [open]="layout.sidebarOpen$ | async"
  [class.playing]="(audio.state | async) === 'playing'"
  [class.inactive]="(inactive | async)"></bc-sidenav>
<bc-toolbar (openMenu)="openSidenav()">
  {{ 'HOME.TITLE' | translate }}
</bc-toolbar>
<bc-layout [class]="route | async">
  <router-outlet></router-outlet>
</bc-layout>
<bc-footer *ngIf="router.url === '/'"></bc-footer>
<div class="stretch-right">
  <button md-raised-button title="Choose a background" [class.active]="layout.sidebarOpen$ | async" (click)="toggleSidenav()"> </button>
</div>
<bc-video></bc-video>
