@import '~@angular/material/theming';

$textColor: white;
$inverseTextColor: white;

$primary: mat-palette($mat-grey, 50);
$accent: mat-palette($mat-blue, 600);

$theme: mat-light-theme($primary, $accent);

@include mat-core();
@include angular-material-theme($theme);
