<a md-button md-dialog-close (click)="dialog.closeAll()"><md-icon>cancel</md-icon></a>
<h2 md-dialog-title>Frequently Asked Questions</h2>
<md-dialog-content>
    <div class="faq">
        <ul>
            <li><a md-button (click)="toggleHighlight(1)" [class.active]="highlightedDiv === 1">What is the SOS Method?</a>
                <div id="faq-what-is">
                    <p>It’s the art and science of wellbeing.  SOS is a meditation based method that helps you embrace a healthy lifestyle; mentally, emotionally, and physically. SOS is meditation reinvented – it works even if your mind isn’t still</p>
                    <p><a href="https://www.thesosmethod.com/meditation-makes-everything-better-so-why-dont-more-people-do-it/">Learn more</a></p>
                </div>
            </li>
            <li><a md-button (click)="toggleHighlight(2)" [class.active]="highlightedDiv === 2">How can mindfulness and meditation help me?</a>
                <div id="faq-how-help">
                    <p>Meditation literally changes your brain for the better. It dramatically improves your productivity, speeds healing and restores vitality. According to research, meditation can lead to a healthier heart, a stronger immune system, greater clarity and focus, improved relaxation, more loving relationships, a more youthful appearance — and the list goes on.</p>
                    <p>If meditation sounds like an invaluable tool , it is. SOS Method has evidenced highly effective results in people who’ve struggled with anxiety, bullying, abuse, PTSD, and trauma. Whether you’re looking to rekindle your marriage, unleash your creativity, lose weight, or improve any aspect of your life — meditation can help.</p>
                    <p><a href="https://www.thesosmethod.com/how-mindfulness-meditation-can-change-your-life/">Here’s what the science says</a></p>
                </div>
            </li>
            <li><a md-button (click)="toggleHighlight(3)" [class.active]="highlightedDiv === 3">What makes SOS meditations different?</a>
                <div id="faq-how-different">
                    <p>In our busy, distracted world, it can be extremely difficult to find the time and energy to commit to learning a new skill like meditation. But that’s the beauty of SOS — there’s no learning curve. Anyone can do it, and it takes just minutes per day.</p>
                    <p>And, it’s enjoyable! All you have to do is listen to a soothing voice and tranquil music. Even people who have meditated for years say SOS helps them to get to that sweet spot in a lot less time.</p>
                    <a href="">Here’s what people say</a>
                </div>
            </li>
            <li><a md-button (click)="toggleHighlight(4)" [class.active]="highlightedDiv === 4">How was SOS Method developed?</a>
                <div id="faq-how-developed">
                    <p>SOS founder Marlise Karlin lives and breathes the art of mindfulness. She’s spent decades immersing herself in the research and practice of wellbeing.</p>
                    <p>Growing up with an abusive, alcoholic father, Marlise struggled with addiction and illness from an early age. These painful experiences gave her unique insight and empathy for the suffering of others; sparking her passion to  help people find greater peace, balance, and happiness.</p>
                    <p><a href="">Learn more</a></p>
                </div>
            </li>
            <li><a md-button (click)="toggleHighlight(5)" [class.active]="highlightedDiv === 5">How do I do SOS?</a>
                <div id="faq-how-to">
                    <p>All you have to do is listen. Begin with 5 Day Essentials, where you’ll learn how to meditate with SOS and use the tools that help you gain more focus, knowledge, and calm.</p>
                </div>
            </li>
            <li><a md-button (click)="toggleHighlight(6)" [class.active]="highlightedDiv === 6">What's in the free trial?</a>
                <div id="faq-trial">
                    <p>Your free trial includes the 5 Day Essential Series. That’s 5 daily lessons and meditations to jump start your mindfulness practice.</p>
                    <p>You can upgrade your membership to continue your journey to the next level. Once you’ve finished the 11 Day Essentials, the entire library of 40 SOS Meditations and 10 Discovery Series will be unlocked.</p>
                </div>
            </li>
        </ul>
    </div>
</md-dialog-content>
