
:host {

    h1 {
        margin: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        color: #333;
    }

    .faq {
        padding-right: 50px;
    }

    div > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border-radius: 20px;
        position: relative;
        width: auto;
        display: block;
    }

    li > div {
        top: 0;
        left: 100%;
        margin-left: 60px;
        display: none;
        padding: 20px;
        border-radius: 20px;
        position: static;
        height: auto;
        width: auto;
    }

    li a {
        position: relative;
        display: block;
        padding: 20px;
        color: #333;
    }

    li a.active ~ div {
        display: block;
    }

}