<a md-button md-dialog-close (click)="dialog.closeAll()" tabindex="-1">
    <md-icon>cancel</md-icon>
</a>
<md-card-title md-dialog-title><span>Login</span><span>Register</span></md-card-title>
<md-dialog-content>
    <md-card>
        <md-card-subtitle>Already have an account?</md-card-subtitle>
        <a md-raised-button color="primary" [routerLink]="['/account/login']">Login</a>
    </md-card>
    <md-card>
        <md-card-subtitle>Create a new account.</md-card-subtitle>
        <form method="POST" action="#" role="form">
            <md-input-container>
                <input mdInput type="text" maxlength="50" placeholder="First name"
                       [(ngModel)]="registrationUser.name.first" required
                       [ngModelOptions]="{standalone: true}">
            </md-input-container>
            <md-input-container>
                <input mdInput type="text" maxlength="50" placeholder="Last name"
                       [(ngModel)]="registrationUser.name.last" required
                       [ngModelOptions]="{standalone: true}">
            </md-input-container>
            <br/>
            <md-input-container>
                <input mdInput type="email" maxlength="50" placeholder="Email"
                       [(ngModel)]="registrationUser.email" required
                       [ngModelOptions]="{standalone: true}">
            </md-input-container>
            <br/>
            <md-input-container>
                <input mdInput type="password" maxlength="25" placeholder="Password"
                       length="40" [(ngModel)]="registrationUser.password" required
                       [ngModelOptions]="{standalone: true}">
            </md-input-container>
            <br/>
            <md-input-container>
                <input mdInput type="company" maxlength="25" placeholder="Company"
                       length="40" [(ngModel)]="registrationUser.company"
                       [ngModelOptions]="{standalone: true}">
            </md-input-container>
            <br/>
            <md-input-container>
                <input mdInput type="phone" maxlength="25" placeholder="Phone"
                       length="40" [(ngModel)]="registrationUser.phone"
                       [ngModelOptions]="{standalone: true}">
            </md-input-container>
        </form>
    </md-card>
</md-dialog-content>
<md-dialog-actions>
    <div></div>
    <div>
        <button md-raised-button color="primary" (click)="onRegister($event)" type="submit">
            Register
        </button>
    </div>
</md-dialog-actions>

