<footer>
    <h2>Mindfulness tools for stress relief, <br/> focus and calm in minutes. Power Up!</h2>
    <a md-raised-button mdTooltip="Menu / Tools" mdTooltipPosition="above" class="menu-icon"
       (click)="toggleSecondary()"></a>
    <a md-raised-button class="tools-icon" (click)="toggleTools()"></a>
    <a md-raised-button href="https://www.facebook.com/thesosmethod/?fref=ts"> </a>
    <a md-raised-button href="https://twitter.com/thesosmethod"> </a>
    <a md-raised-button href="https://www.instagram.com/thesosmethod/"> </a>
</footer>

