@import "../shared/testimonials";

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

#testimonials h1 {
    text-shadow: 0 1px 2px black;
}

#user-reviews {
    background: white;
    padding: 20px 1px;
    color: #333;
}

#user-reviews /deep/ .slick-dots li button:before {
    background-color: #333;
}

#user-reviews > div {
    margin: 0;
    background: none;
    padding: 1px 60px;
}

#user-reviews blockquote {
    padding: 20px 40px;
}

#add-review {
    padding: 60px;
    background: linear-gradient(#4997cb, #0bffe6);
}

#add-review > div {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-review > div > div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background: white;
}

#videos video {
    margin: 20px;
    border: 3px solid black;
}

#sponsors {
    min-height: 200px;
    background: white;
}

