<md-sidenav [opened]="open">
  <md-nav-list>
    <aside id="select-template">
      <a href="#select-template" data-toggle="active" title="Choose a background"> </a>
      <a href="https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v1927594.mp4?redirect=1"><img src="/clouds.jpg"/></a>
      <a href="https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v1271068.mp4?redirect=1"><img src="/dark_sky.jpg"/></a>
      <a href="https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v18169228.mp4?redirect=1"><img src="/purple.jpg"/></a>
      <a href="https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v2911900.mp4?redirect=1"><img src="/autumn.jpg"/></a>
      <a href="https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v2721359.mp4?redirect=1"><img src="/beach.jpg"/></a>
      <a href="https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v5240417.mp4?redirect=1"><img src="/rain_bird.jpg"/></a>
      <a href="https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v648469.mp4?redirect=1"><img src="/water2.jpg"/></a>
      <a href="https://s3-us-west-2.amazonaws.com/sosmethod/shutterstock_v7486369.mp4?redirect=1"><img src="/candle.jpg"/></a>
      <a href="https://s3-us-west-2.amazonaws.com/sosmethod/SOS-StarCave_1300x800_Loop-16_1211.mp4?redirect=1"><img src="/cave.jpg"/></a>
    </aside>
  </md-nav-list>
</md-sidenav>
