.meditate {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    transition: ease-in-out .8s;
    z-index: 200;
}

.meditate > div {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

a {
    margin: 10px;
    vertical-align: middle;
    padding: 64px 0 0;
    height: 65px;
    font-size: 18px;
    display: flex;
    width: auto;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a span > span {
    margin: 40px 0 0;
    display: inline-block;
}

