<div id="timeline" class="modal">
    <form>
        <a href="/">X</a>
        <h2>Timeline</h2>
        <a href="/account" class="button">Account</a>
        <a href="/timeline_meditations" class="button">Meditations</a>
        <a href="/timeline_discovery" class="button">Discovery</a>
        <br />
        <br />
        <div class="hr"><span></span><span></span><span></span></div>
        <br />
        <table>
            <thead>
            <tr>
                <th>Meditation</th><th>Completed</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </form>
</div>