<div id="share">
    <ol>
        <li><a href="mailto:?subject=Check out the SOS method!&body=Hi, I found this website
            and thought you might like it http://sosmethod.herokuapp.com/">Email</a></li>
        <li><a href="#sms">SMS</a></li>
        <li><a href="http://www.facebook.com/sharer/sharer.php?u=https://sosmethod.herokuapp.com%3F&t=Check out The SOS Method!"></a></li>
        <li><a href="https://twitter.com/intent/tweet?text=Check out https://sosmethod.herokuapp.com%3F"></a></li>
        <li><a href="#copy">Copy Link</a></li>
    </ol>
</div>