:host {
    text-align: center;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

div {
    position: absolute;
    z-index: 100;
    top: 20px;
    width: 100%;
    left: 0;
}

.back {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 20px;
    left: 20px;
    background: url(/assets/back_active.png) no-repeat 10px 50% transparent;
    opacity: .7;
    transition: ease-in-out .8s;
    z-index: 2000;
    border: none;
    min-width: 0;
    padding: 20px;
}
