md-dialog-content {
  display: flex;
}

md-card {
  width: 50%;
}

md-card-title {
  display: flex;
  justify-content: center;
}

md-dialog-actions div {
  width:50%;
}

@media all and (max-width: 1000px) {
  md-dialog-content {
    flex-direction: column;
  }

  md-card {
    width:100%;
  }

  md-card-title span {
    width:100%;
  }

  md-card-title span:first-of-type {
    display:none;
  }
}

