<div id="gift-testimonials" class="testimonials">
    <div>
        <h1><span>Endorsed by Scientists, Doctors, &amp; People Like You</span></h1>
        <div #testimonials>
            <blockquote><q>SOS Method is at the leading edge. The Meditations are seamlessly interwoven with
                electronic technology to create audio tapestries that exist in a class by themselves.</q>
                <div><img src="/assets/dr.elliott.jpg" width="150"
                          height="150" alt=""><span><span>Dr. Elliott Maynard</span><span>Author Brave New Mind</span></span>
                </div>
            </blockquote>
            <blockquote><q>SOS Method has reimagined this classic call for help as an evolutionary technology
                designed to release stress, heal your body, and access your highest potential.</q>
                <div><img src="/assets/onespirit.png" width="150"
                          height="150" alt=""><span><span>One Spirit Magazine</span><span></span></span>
                </div>
            </blockquote>
            <blockquote><q>I was immediately taken out of the focus of my mind and into myself, feeling the
                peaceful presence of the moment, and becoming more in touch with my body.</q>
                <div><img src="/assets/alex.jpg" width="150"
                          height="150" alt=""><span><span>Alex Moyer</span><span>Inner Spiral</span></span>
                </div>
            </blockquote>
            <blockquote><q>SOS Method is a mother lode of insights and knowledge that explores universal
                truths. It&#39;s a helpful tool for attaining contentment and spiritual grounding.</q>
                <div><img src="/assets/degrane.jpeg" width="100"
                          height="100" alt=""><span><span>Susan DeGrane</span><span>Booklist</span></span>
                </div>
            </blockquote>
            <blockquote><q>SOS Meditations brings me to such a level of calm. I have been in pain since my early
                20s, in excruciating pain because I have really bad fibromyalgia. And now it’s gone. I
                have been feeling no pain in my body for more than 3 years, which is a miracle in itself.</q>
                <div><img src="/assets/robyn-r.jpg" width="100" height="100"
                          alt=""><span><span>Robyn Rezny</span><span>Caregiver</span></span>
                </div>
            </blockquote>
            <blockquote><q>I incorporate SOS Method into my daily routine. It has helped me to stay calm, focused,
                and positive against a backcloth of adversity and uncertainty. It has helped me to
                evaluate and create some wonderful new possibilities.</q>
                <div><img src="/assets/stephen.jpg" width="150"
                          height="150" alt=""><span><span>Stephen Pauley</span><span>CEO of Your Business Matters Ltd.</span></span>
                </div>
            </blockquote>
            <blockquote><q>SOS Method combines both scientific technology and ancient wisdom. 
                At the heart of SOS are audio recordings, which open the door for profound healing of
                mind, body, and spirit. These Meditations take you to a new level — quickly, easily, and
                without the trappings that other systems include.</q>
                <div><img src="/assets/Insight.png" width="150"
                          height="150" alt=""><span><span>Anna Jedrziewski</span><span>Retailing Insight</span></span>
                </div>
            </blockquote>
            <blockquote><q>After doing SOS Method for a while now, I've realized a shift in my thinking.
                I don't worry about peer pressure anymore.  I've learned to heal resentment and anger because I'm more
                willing to.  Very cool stuff!</q>
                <div><img src="/assets/danny-b.jpg" width="150"
                          height="150" alt=""><span><span>Danny</span><span>New Jersey, Student</span></span>
                </div>
            </blockquote>
        </div>
    </div>
</div>