<div id="testimonials" class="testimonials">
    <div>
        <h1><span>Endorsed by Scientists, Doctors, &amp; People Like You</span></h1>
        <div #testimonials>
            <blockquote><q>It was like being able to breathe again. Each new awareness
                offered me a lens through which to see the world where problems became adventures to be dealt with in
                new ways.</q>
                <div><img src="/assets/davis.jpg" width="150"
                          height="150" alt=""><span><span>Wade Davis</span><span>Ph.D. Ethnobotany, Harvard and Nat Geo Explorer</span></span>
                </div>
            </blockquote>
            <blockquote><q>SOS Method meditations are really enjoyable and calming... and they only take 5 minutes! It's great for all people to find a form of stress relief in their lives since it has significant health benefits. I know this method will help many people!</q>
                <div><img src="/assets/DrLing.png" width="150"
                          height="150" alt=""><span><span>Dr. Monica Ling</span><span>Spinal Medicine Specialist, Prince of Wales Hospital</span></span>
                </div>
            </blockquote>
            <blockquote><q>My greatest influences regarding meditation are Dr. Wayne Dyer,
                Deepak Chopra, Eckhart Tolle, Lama Surya Das, and Marlise Karlin. In particular, her course generated
                amazing results in my life that enabled me to open my heart up as never before.</q>
                <div><img src="/assets/robert.png" width="150"
                          height="150" alt=""><span><span>Robert Radcliffe</span><span>Author 180 Degrees</span></span>
                </div>
            </blockquote>
            <blockquote><q>I listen to SOS recordings as frequently as possible. As soon as I
                hear the music, I’m cocooned in a wonderful, loving feeling and I’m immediately relaxed. The peaceful
                feeling stays with me for hours and the more frequently I listen, the longer the peace remains.</q>
                <div><img src="/assets/dr-irene-conlan.jpg" width="100"
                          height="100" alt=""><span><span>Dr. Irene Conlan</span><span>Former Assistant Director at the AZ Dept of Health Services</span></span>
                </div>
            </blockquote>
            <blockquote><q>This process of going into ‘Stillness’ is the most amazing I have
                experienced. I’ve listened 100 times and I love it because there is a freedom in every single moment.</q>
                <div><img src="/assets/karen.jpg" width="100" height="100"
                          alt=""><span><span>Karen Elkins</span><span>Silbury Education and Resource Centre</span></span>
                </div>
            </blockquote>
            <blockquote><q>The Simplicity of Stillness [SOS] method is the only one I’ve come
                across with scientifically researched audio tracks that shift you into an actual state of stillness and
                peace.</q>
                <div><img src="/assets/jamieson.jpg" width="150"
                          height="150" alt=""><span><span>Dr. Sue Jamieson</span><span>Harvard, award-wining Scottish physician</span></span>
                </div>
            </blockquote>
            <blockquote><q>The Stillness Meditation is different than anything else I have
                ever done! It’s an incredible feeling! I have never experienced this before. It’s intense and yet
                peaceful; it’s just brilliant!</q>
                <div><img src="/assets/robin.jpg" width="150"
                          height="150" alt=""><span><span>Robin Robinson</span><span>UK, Account Director</span></span>
                </div>
            </blockquote>
            <blockquote><q>How great is it that during the day when your mind is chattering
                about a thousand things, you remember the SOS technique, and access the power in yourself – in moments.
                The result: the world changes. This is new work for a new time.</q>
                <div><img src="/assets/pavel.jpg" width="150"
                          height="150" alt=""><span><span>Pavel Mikoloski</span><span>Washington, Promotions Director</span></span>
                </div>
            </blockquote>
        </div>
    </div>
</div>