<div id="signup">
    <form action="/purchase" method="post">
        <h1><span>Discover mindfulness meditations and tools to rapidly relieve stress and find peace of mind  -  anytime and anywhere.</span></h1>
        <ul class="options">
            <li class="sos-circle-blue">
                <a href="/signup/monthly_trial">
                    <h4>Monthly</h4>
                    <h3>$12.99/mo</h3>
                    <h5>each month</h5>
                    <input type="hidden" name="monthly_trial" value="1299" />
                </a>
            </li>
            <li class="sos-circle-ruby">
                <a href="/signup/yearly">
                    <h4>Yearly</h4>
                    <h3>$7.99/mo</h3>
                    <h5>$95.88 a year</h5>
                    <input type="hidden" name="yearly" value="9588" />
                </a>
            </li>
            <li class="sos-circle-gold">
                <a href="/signup/2year">
                    <h4>2 Year</h4>
                    <h3>$4.99/mo</h3>
                    <h5>59.88 per year</h5>
                    <input type="hidden" name="2year" value="11976" />
                </a>
            </li>
        </ul>
    </form>
    <div class="hr"><span></span><span></span><span></span></div>
    <div class="discovery">
        <div class="description">
            <div>
                <h1>Discovery Series</h1>
                <div class="hr"><span></span><span></span><span></span></div>
                <h2>Mindful tools, tips and processes to gain calm, clarity and well-being.</h2>
                <ol>
                    <li><i class="sos-circle sos-circle-mini sos-circle-purple"><span></span><span></span><span></span></i>
                        <span><strong>Essentials</strong><span><br/><b>5 Day:</b> Release stress &amp; expand peace of mind<br/><b>11 Day:</b> Advance positivity &amp; mindful awareness</span></span>
                    </li>
                    <li><i class="sos-circle sos-circle-mini sos-circle-green"><span></span><span></span><span></span></i>
                        <span><strong>Soothing Relief</strong><span><br/><b>5 Day:</b> Reduce anxiety, depression &amp; trauma<br/><b>11 Day:</b> Overcome patterns, gain vitality &amp; joy</span></span>
                    </li>
                    <li><i class="sos-circle sos-circle-mini sos-circle-ruby"><span></span><span></span><span></span></i>
                        <span><strong>Focus &amp; Creativity</strong><span><br/><b>5 Day:</b> Boost courage, confidence &amp; Inspiration<br/><b>11 Day:</b> Increase performance &amp; fulfillment</span></span>
                    </li>
                    <li><i class="sos-circle sos-circle-mini sos-circle-gold"><span></span><span></span><span></span></i>
                        <span><strong>Improving Relationships</strong><span><br/><b>5 Day:</b> Open communication &amp; acceptance<br/><b>11 Day:</b> Forgive &amp; appreciate yourself &amp; others</span></span>
                    </li>
                    <li><i class="sos-circle sos-circle-mini sos-circle-blue"><span></span><span></span><span></span></i>
                        <span><strong>Super Kids</strong><span><br/><b>5 Day:</b> Coming soon<br/><b>11 Day:</b> Coming soon</span></span>
                    </li>
                    <li><i class="sos-circle sos-circle-mini sos-circle-coral"><span></span><span></span><span></span></i>
                        <span><strong>Happy Dogs</strong><span><br/><b>5 Day:</b> Coming soon<br/><b>11 Day:</b> Coming soon</span></span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="hr"><span></span><span></span><span></span></div>
    <div class="meditation">
        <div class="description">
            <div>
                <h1>Meditation Reinvented</h1>
                <div class="hr"><span></span><span></span><span></span></div>
                <h2>Select from 40 soothing, relaxing, and empowering meditations for every day.<br />Works in minutes - even if your mind
                    isn't still.</h2>
                <ol>
                    <li><i class="sos-circle sos-circle-mini sos-circle-purple"><span></span><span></span><span></span></i>
                        <span><strong>Calm &amp; Deep Peace</strong><span><br/>Daily stress relief and inspiration (12)</span></span>
                    </li>
                    <li><i class="sos-circle sos-circle-mini sos-circle-green"><span></span><span></span><span></span></i>
                        <span><strong>Relax &amp; Deep Sleep</strong><span><br/>Binaural beats for sleep and therapy (6)</span></span>
                    </li>
                    <li><i class="sos-circle sos-circle-mini sos-circle-ruby"><span></span><span></span><span></span></i>
                        <span><strong>Elevate &amp; Energize</strong><span><br/>Feel uplifted and happy on a break or commute (8)</span></span>
                    </li>
                    <li><i class="sos-circle sos-circle-mini sos-circle-gold"><span></span><span></span><span></span></i>
                        <span><strong>Affirming Word</strong><span><br/>Setting the tone for loving kindness (9)</span></span>
                    </li>
                    <li><i class="sos-circle sos-circle-mini sos-circle-blue"><span></span><span></span><span></span></i>
                        <span><strong>Forgiveness &amp; Love</strong><span><br/>Focused meditations for loving relationships (6)</span></span>
                    </li>
                    <li><i class="sos-circle sos-circle-mini sos-circle-coral"><span></span><span></span><span></span></i>
                        <span><strong>Emergency SOS</strong><span><br/>Immediate aid for anxiety and trauma (1)</span></span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="hr"><span></span><span></span><span></span></div>
</div>
<bc-testimonials></bc-testimonials>