<div id="signup">
    <form action="/purchase" method="post">
        <h1><span>Discover mindfulness meditations and tools to rapidly relieve stress and find peace of mind  -  anytime and anywhere.</span></h1>
        <ul class="options">
            <li>
                <a href="/signup/monthly_trial">
                    <h4>Monthly</h4>
                    <h3>$12.99/mo</h3>
                    <h5>each month</h5>
                    <input type="hidden" name="monthly_trial" value="1299" />
                </a>
            </li>
            <li>
                <a href="/signup/yearly">
                    <h4>Yearly</h4>
                    <h3>$7.99/mo</h3>
                    <h5>$95.88 a year</h5>
                    <input type="hidden" name="yearly" value="9588" />
                </a>
            </li>
            <li>
                <a href="/signup/2year">
                    <h4>2 Year</h4>
                    <h3>$4.99/mo</h3>
                    <h5>59.88 per year</h5>
                    <input type="hidden" name="2year" value="11976" />
                </a>
            </li>
        </ul>
    </form>
    <div class="hr"><span></span><span></span><span></span></div>
    <div class="discovery">
        <div class="description">
            <div>
                <h1>Discovery Series</h1>
                <div class="hr"><span></span><span></span><span></span></div>
                <h2>Mindful tools, tips and processes to gain calm, clarity and well-being.</h2>
                <ol>
                    <li><i><span></span><span></span><span></span></i>
                        <span><strong>Essentials</strong><span><br/><b>5 Day:</b> Release stress &amp; expand peace of mind<br/><b>11 Day:</b> Advance positivity &amp; mindful awareness</span></span>
                    </li>
                    <li><i><span></span><span></span><span></span></i>
                        <span><strong>Soothing Relief</strong><span><br/><b>5 Day:</b> Reduce anxiety, depression &amp; trauma<br/><b>11 Day:</b> Overcome patterns, gain vitality &amp; joy</span></span>
                    </li>
                    <li><i><span></span><span></span><span></span></i>
                        <span><strong>Focus &amp; Creativity</strong><span><br/><b>5 Day:</b> Boost courage, confidence &amp; Inspiration<br/><b>11 Day:</b> Increase performance &amp; fulfillment</span></span>
                    </li>
                    <li><i><span></span><span></span><span></span></i>
                        <span><strong>Improving Relationships</strong><span><br/><b>5 Day:</b> Open communication &amp; acceptance<br/><b>11 Day:</b> Forgive &amp; appreciate yourself &amp; others</span></span>
                    </li>
                    <li><i><span></span><span></span><span></span></i>
                        <span><strong>Super Kids</strong><span><br/><b>5 Day:</b> Coming soon<br/><b>11 Day:</b> Coming soon</span></span>
                    </li>
                    <li><i><span></span><span></span><span></span></i>
                        <span><strong>Happy Dogs</strong><span><br/><b>5 Day:</b> Coming soon<br/><b>11 Day:</b> Coming soon</span></span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="hr"><span></span><span></span><span></span></div>
    <div class="meditation">
        <div class="description">
            <div>
                <h1>Meditation Reinvented</h1>
                <div class="hr"><span></span><span></span><span></span></div>
                <h2>Select from 40 soothing, relaxing, and empowering meditations for every day.<br />Works in minutes - even if your mind
                    isn't still.</h2>
                <ol>
                    <li><i><span></span><span></span><span></span></i>
                        <span><strong>Calm &amp; Deep Peace</strong><span><br/>Daily stress relief and inspiration (12)</span></span>
                    </li>
                    <li><i><span></span><span></span><span></span></i>
                        <span><strong>Relax &amp; Deep Sleep</strong><span><br/>Binaural beats for sleep and therapy (6)</span></span>
                    </li>
                    <li><i><span></span><span></span><span></span></i>
                        <span><strong>Elevate &amp; Energize</strong><span><br/>feel uplifted and happy on a break or commute (8)</span></span>
                    </li>
                    <li><i><span></span><span></span><span></span></i>
                        <span><strong>Affirming Word</strong><span><br/>Setting the tone for loving kindness (9)</span></span>
                    </li>
                    <li><i><span></span><span></span><span></span></i>
                        <span><strong>Forgiveness &amp; Love</strong><span><br/>Focused meditations for loving relationships (6)</span></span>
                    </li>
                    <li><i><span></span><span></span><span></span></i>
                        <span><strong>Emergency SOS</strong><span><br/>Immediate aid for anxiety and trauma (1)</span></span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="hr"><span></span><span></span><span></span></div>
    <div id="testimonials" class="testimonials">
        <div>
            <h1><span>Endorsed by Scientists, Doctors, &amp; People Like You</span></h1>
            <div>
                <blockquote><q>It was like being able to breathe again. Each new awareness
                    offered me a lens through which to see the world where problems became adventures to be dealt with in
                    new ways.</q>
                    <div><img src="/static/davis.jpg" width="150"
                              height="150" alt=""><span><span>Wade Davis</span><span>Ph.D. Ethnobotany, Harvard and Nat Geo Explorer</span></span>
                    </div>
                </blockquote>
                <blockquote><q>SOS Method meditations are really enjoyable and calming... and they only take 5 minutes! It's great for all people to find a form of stress relief in their lives since it has significant health benefits. I know this method will help many people!</q>
                    <div><img src="/static/DrLing.png" width="150"
                              height="150" alt=""><span><span>Dr. Monica Ling</span><span>Spinal Medicine Specialist, Prince of Wales Hospital</span></span>
                    </div>
                </blockquote>
                <blockquote><q>My greatest influences regarding meditation are Dr. Wayne Dyer,
                    Deepak Chopra, Eckhart Tolle, Lama Surya Das, and Marlise Karlin. In particular, her course generated
                    amazing results in my life that enabled me to open my heart up as never before.</q>
                    <div><img src="/static/robert.png" width="150"
                              height="150" alt=""><span><span>Robert Radcliffe</span><span>Author 180 Degrees</span></span>
                    </div>
                </blockquote>
                <blockquote><q>I listen to SOS recordings as frequently as possible. As soon as I
                    hear the music, I’m cocooned in a wonderful, loving feeling and I’m immediately relaxed. The peaceful
                    feeling stays with me for hours and the more frequently I listen, the longer the peace remains.</q>
                    <div><img src="/static/dr-irene-conlan.jpg" width="100"
                              height="100" alt=""><span><span>Dr. Irene Conlan</span><span>Former Assistant Director at the AZ Dept of Health Services</span></span>
                    </div>
                </blockquote>
                <blockquote><q>This process of going into ‘Stillness’ is the most amazing I have
                    experienced. I’ve listened 100 times and I love it because there is a freedom in every single moment.</q>
                    <div><img src="/static/karen.jpg" width="100" height="100"
                              alt=""><span><span>Karen Elkins</span><span>Silbury Education and Resource Centre</span></span>
                    </div>
                </blockquote>
                <blockquote><q>The Simplicity of Stillness [SOS] method is the only one I’ve come
                    across with scientifically researched audio tracks that shift you into an actual state of stillness and
                    peace.</q>
                    <div><img src="/static/jamieson.jpg" width="150"
                              height="150" alt=""><span><span>Dr. Sue Jamieson</span><span>Harvard, award-wining Scottish physician</span></span>
                    </div>
                </blockquote>
                <blockquote><q>The Stillness Meditation is different than anything else I have
                    ever done! It’s an incredible feeling! I have never experienced this before. It’s intense and yet
                    peaceful; it’s just brilliant!</q>
                    <div><img src="/static/robin.jpg" width="150"
                              height="150" alt=""><span><span>Robin Robinson</span><span>UK, Account Director</span></span>
                    </div>
                </blockquote>
                <blockquote><q>How great is it that during the day when your mind is chattering
                    about a thousand things, you remember the SOS technique, and access the power in yourself – in moments.
                    The result: the world changes. This is new work for a new time.</q>
                    <div><img src="/static/pavel.jpg" width="150"
                              height="150" alt=""><span><span>Pavel Mikoloski</span><span>Washington, Promotions Director</span></span>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</div>