
h1
{
    text-align: center;
    color:#fff;
    font-style: normal;
    padding-top:0;
    margin-top:0;
}

form h1
{
    text-transform: none;
    padding: 40px 10px;
    max-width: 1050px;
    margin: auto;
}

form
{
    padding:60px 60px 150px;
    background: url(/assets/shutterstock_316023563_small.jpg) 50%;
    background-size: cover;
    background-attachment: fixed;
}

h2
{
    text-align: center;
    max-width: 500px;
    display:block;
    margin:auto;
    font-size:18px;
    color:#fff;
}

.discovery h2,
.meditation h2
{
    padding:20px 0;
}

.discovery
{
    background: url(/assets/shutterstock_515170852_small.jpg) 50%;
    background-size: cover;
}

.meditation
{
    background: url(/assets/shutterstock_524175043_small.jpg) 90% 50%;
    background-size: cover;
}

.description
{
    width:60%;
    margin-right:-3px;
    display:inline-block;
    vertical-align: middle;
    padding:60px;
    color: #fff;
}

.discovery .description
{
    margin-left:40%;
}

.description p:last-of-type
{
    text-align: center;
}

.description img
{
    max-width: 50%;
}

.description h3
{
    text-align: center;
}

.description > div
{
    padding:40px;
    background:rgba(73,151,203,0.8);
    position:relative;
    margin-bottom:50px;
    z-index: 1;
}

.options
{
    list-style: none;
    padding: 0;
    max-width: 800px;
    text-align: center;
    display: flex;
    margin: 0 auto 50px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.options li
{
    display:inline-block;
    width:30%;
    margin:0 1.5%;
    vertical-align: middle;
    position:relative;
    cursor: pointer;
    z-index: 1;
}

.options li:before
{
    content: " ";
    position:absolute;
    left:-10px;
    top:-10px;
    right:-10px;
    bottom:-10px;
    z-index:-1;
}
.options li h3 {
    transition: font-size ease-in-out .25s;
    font-size: 130%;
}

.options li:nth-child(2) h3,
.options li:hover h3,
.options:hover li:nth-child(2):hover h3
{
    font-size:200%;
}

.options:hover li:nth-child(2) h3
{
    font-size:inherit;
}

.options li a
{
    background: rgba(73,151,203,0.8);
    padding: 2px;
    border-radius: 1px;
    display:block;
    color: #fff;
}

.options li:first-of-type
{
    margin-left:-1.5%;
}

.options li:last-of-type
{
    margin-right:-1.5%;
}

ol
{
    margin: 0;
    padding:0;
    vertical-align: middle;
    list-style: none;
}

ol i {
    position:absolute;
}

ol li
{
    margin-bottom:20px;
    height:65px;
    overflow:visible;
    cursor: pointer;
}

ol li > span
{
    display:inline-block;
    vertical-align: middle;
    padding-left: 100px;
    width: 100%;
    transition: ease-in-out .25s;
    max-height: 1em;
    margin-left: -6px;
}

ol li:before
{
    content: " ";
    display:inline-block;
    height:65px;
    vertical-align: middle;
}

ol li > span span
{
    color:transparent;
    transition: ease-in-out .25s;
}

ol li:hover > span
{
    max-height:200px;
}

ol li > span strong
{
    margin-left:-10px;
    font-family:"Century Gothic", sans-serif;
}

ol li:hover > span span
{
    color: white;
}


