
:host(bc-subtotal) {
  background-color:#444;
  color:#fff;
  width:250px;
  display:flex;
  flex-direction: column;
}

md-card {
  display:flex;
  flex-direction: column;
  color:#fff;
  flex:1 1 auto;
  background:none;
  align-items: center;
  justify-content: center;
}

md-card-actions {
  flex:1 1 auto;
  text-align: center;
  align-self: flex-end;
  width:100%;
}

h3 {
  display:flex;
  width:100%;
  border-top:2px solid white;
  padding-top:15px;
}

h3 span:last-child {
  flex:1 1 auto;
  text-align: right;
}