<div id="main-menu" class="centerized">
    <h2>meditation &nbsp; reinvented</h2>
    <a routerLink="/begin" class="sos-circle sos-circle-blue"><span></span><span></span><span></span><span><span class="centerized">begin</span></span></a>
    <a routerLink="/signup" class="sos-circle sos-circle-gold"><span></span><span></span><span></span><span><span class="centerized">sign up</span></span></a>
    <a routerLink="/explore" class="sos-circle sos-circle-ruby"><span></span><span></span><span></span><span><span class="centerized">explore</span></span></a>
</div>